html{
	font-size:100%;
 }

body {
	margin:auto;
	height:100%;
	width:70em;
	background-color: #77A0D4;
}

img {
	border-style:none;
}

header{
	border-radius: 10px;
	position: fixed;
	top:2px;
	width:70em;
	height:4em;
	border: 1px solid blue;
    box-shadow: 0 3px 3px gray, inset 0 1px 1px white;
	background-color:#DBE9FB;
}

header div {
	padding:.3em;
	position: relative;
	float: left;
}

a {
	text-decoration: none;
}

.navigation {
	text-align: center;
		    list-style: none; 
		    margin: .5em;
		    padding:0;
			line-height: 2em;
		    height: 2em;
		    font-family: Arial, Helvetica, sans-serif;;
		    position: relative;
		}

.navigation li {
	min-width: 5em;
	background: #C5DBF7;
			display: inline-block;
			position: relative;
		    border: 1px solid darkblue;
			border-radius: 6px;
		    box-shadow: 0 3px 3px gray, inset 0 1px 1px white;
		    margin: 0;
		    padding: 0;
		}

.navigation li:HOVER{
	background-color: #0B0B61;
}

.navigation a:HOVER{
	color: yellow;
}

.navigation a {
	padding: .7em;
	color: blue;
}

#body {
	position: inherit;
	padding:.3em;
	margin-top: 4.7em;
	border-radius: 10px;
    box-shadow: 0 3px 3px gray, inset 0 1px 1px white;
	background-color:#EBF4FA;
	min-height: 15em;
	text-align: center;
}

#footer {
	text-align: right;
	margin-top: .3em;
	border-radius: 6px;
	box-shadow: 0 3px 3px gray, inset 0 1px 1px white;
	padding: .3em;
}

#footer a{
	color: #DBE9FB;
}

#manufacture{
	color:blue;
	margin:auto;
	box-shadow: 0 5px 5px gray, inset 0 2px 2px white;
	border-radius: 10px;
}

#manufacture .odd:HOVER, #manufacture .even:HOVER{
	background-color: #A9F5BC;
}

#manufacture a{
	color: blue;
}

#manufacture th{
	border-radius: 10px;
	box-shadow: 0 2px 2px gray, inset 0 1px 1px white;
}

#manufacture td{
	border-radius: 10px;
	text-align: right;
	padding: .3em;
}

#manufacture .title{
	background-color:#81BEF7;
}

#manufacture .odd{
	background-color:#EFF8FB;
}

#manufacture .even{
	background-color:white;
}

#mfr_form input{
	box-shadow: 0 2px 2px white, inset 0 1px 1px gray;
}

#mfr_form input, #mfr_form label{
	position: relative;
	float: left;
	margin-top: .5em;
	color: #000099;
}

#mfr_form label{
	margin-left: 1em;
}

#mfr_form button{
	position: relative;
	float: left;
	background-color: #81BEF7;
	border-radius: 8px;
	padding: .3em;
	margin: .3em;
	box-shadow: 0 2px 2px gray, inset 0 1px 1px white;
}

#mfr_form button:HOVER{
	color: yellow;
	cursor: pointer;
	background-color: #1313EB;
}

#mfr_form table{
	clear: both;
}
.c3em {
	width: 3em;
}

.c25em{
	width: 25em;
}