<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title>Fashion PRO Finder</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:replace="fragments/header :: links" rel="stylesheet" type="text/css" href="../static/css/jk.css" th:href="@{/css/jk.css}" />
</head>
<body>
<div id="header" th:replace="fragments/header :: pageHeader"><h4>Header</h4></div>
	<div id="menuDiv"  th:replace="fragments/menu :: menu" >Menu</div>
	<div th:switch="${status}">
		<div th:case="${T(jk.web.configuration.EMailConfig.ConfirmStatus).SENT}">
			<h2 th:utext="#{confirm.sent}">Created</h2>
		</div>
		<div th:case="${T(jk.web.configuration.EMailConfig.ConfirmStatus).ERROR}">
			<p th:utext="#{confirm.error}">Confirmed</p>
		</div>
	</div>
<div th:replace="fragments/footer :: footer">Footer</div>
</body>
</html>