<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title th:text="#{login.forgot_password}">Did you forget your password?</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:replace="fragments/header :: links" rel="stylesheet" type="text/css" href="../static/css/jk.css" th:href="@{/css/jk.css}" />
</head>
<body>
	<div id="header" th:replace="fragments/header :: pageHeader">Header</div>
	<div id="contents" class="cntr p3" th:switch="${message==null}">
		<h3 th:text="#{login.forgot_password}">Did you forget your password?</h3>
		<form th:case="${true}" th:action="@{/login/forgot}" method="post">
				<span th:text="#{forgot_password.enter_email}">Enter email</span>
				<input type="email" name="eMail" th:value="${eMail}" autofocus="autofocus"/>
				<button type="submit" th:text="#{forgot_password.send}">Send</button>
			<p class="error" th:if="${errorMessage}" th:text="#{__${errorMessage}__}">E-Mail Error</p>
		</form>
		<p th:case="*" th:utext="#{__${message}__}"></p>
	</div>
<div th:replace="fragments/footer :: footer">Footer</div>
</body>
</html>