<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title th:text="#{__${title}__}">Message</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:replace="fragments/header :: links" rel="stylesheet" type="text/css" href="../static/css/jk.css" th:href="@{/css/jk.css}" />
</head>
<body>
	<div id="header" th:replace="fragments/header :: pageHeader">Header</div>
	<div id="menuDiv"  th:replace="fragments/menu :: menu" >Menu</div>
	<div id="contentsDiv" class="cntr pddng3">
		<p th:text="#{__${message}__}">message</p>
		<p th:utext="${contents}">contents</p>
	</div>
<div th:replace="fragments/footer :: footer">Footer</div>
</body>
</html>