<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title th:text="#{menu.user}">User</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />
<link th:replace="fragments/header :: links" rel="stylesheet" type="text/css" href="../static/css/jk.css" th:href="@{/css/jk.css}" />
<link rel="stylesheet" type="text/css" href="../static/js/jQuery/jquery-ui.css" th:href="@{/js/jQuery/jquery-ui.css}"></link>
<link rel="stylesheet" type="text/css" href="../static/css/calendar.css" th:href="@{/css/calendar.css}"></link>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/moment.js/2.7.0/moment.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.1.1/fullcalendar.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../../static/css/strip.css" th:href="@{/css/strip.css}"></link>
	<script type="text/javascript" src="../../static/js/strip.pkgd.min.js" th:src="@{/js/strip.pkgd.min.js}"></script>
<link rel="stylesheet" type="text/css" href="../../static/js/slick/slick.css" th:href="@{/js/slick/slick.css}"></link>
<script type="text/javascript" src="../../static/js/slick/slick.min.js" th:src="@{/js/slick/slick.min.js}"></script>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
	$(document).ready(
			function() {
				$("input").keypress(
								function(event) {
									if ((event.keyCode ? event.keyCode
											: (event.which ? event.which
													: event.charCode)) == 13) {
										$('activeButton').click();
										return false;
									}
									return true;
				});
				$('#fileSelect').on('change', function () {
					var maxFileSize = /*[[${@environment.getProperty('jk.fime.size.maximum')}*1024]]*/ 1024;
					var text = /*[[#{profile.script.tobigfile(${@environment.getProperty('jk.fime.size.maximum')})}]]*/ 'File is to big';
					var dis = false;
					for(var i in this.files){
						if(this.files[i].name != "item" && typeof this.files[i].name != "undefined"){
							if( this.files[i].size > maxFileSize){
								alert(text);
								dis = true;
								break;
							}
						}
					}
					$('#change').attr("disabled", ($('#fileSelect').val().length == 0) || dis);
				});
				$('.thumbs_gallery').slick({
					 infinite: true,
					 slidesToShow: 3,
					 slidesToScroll: 1,
					 centerMode: true,
					 autoplay: true,
					 autoplaySpeed: 2000,
					 fade: false,
					 variableWidth: true
				});
				$("select").on('change', function() {
					document.getElementById('activeButton').click();
				});
				$("#prflH").click(function() {
					$("#prflTbl").slideToggle('slow');
				});
				$("#addrH").click(function() {
					$("#addrTbls").toggle(500);
				});
				$("#clndrH").click(function() {
					$("#calendar").slideToggle('slow');
				});
				$('#calendar').fullCalendar({
					header : {
						left : 'prev,next today',
						center : 'title',
						right : 'month,agendaWeek,agendaDay'
					},
					defaultDate : '2014-06-12',
					defaultView : 'month',
					editable : true,
					events : [ {
						title : 'All Day Event',
						start : '2014-06-01'
					}, {
						title : 'Long Event',
						start : '2014-06-07',
						end : '2014-06-10'
					}, {
						id : 999,
						title : 'Repeating Event',
						start : '2014-06-09T16:00:00'
					}, {
						id : 999,
						title : 'Repeating Event',
						start : '2014-06-16T16:00:00'
					}, {
						title : 'Meeting',
						start : '2014-06-12T10:30:00',
						end : '2014-06-12T12:30:00'
					}, {
						title : 'Lunch',
						start : '2014-06-12T12:00:00'
					}, {
						title : 'Birthday Party',
						start : '2014-06-13T07:00:00'
					}, {
						title : 'Click for Google',
						url : 'http://google.com/',
						start : '2014-06-28'
					} ]
				});
			});
	/*]]>*/
</script>
</head>
<body>
	<!--/* 
	* Header */-->
	<div id="header" th:replace="fragments/header :: pageHeader">
		<h4>Header</h4>
	</div>
	<!--/*
	* Menu */-->
	<div id="menuDiv" th:replace="fragments/menu :: menu">Menu</div>
	<!--/*
	* Contents */-->
	<div id="contents">
<!--/*

	-------- Profile and User Image ------- */-->
		<div id="profile" class="clear">
			<div id="prflH" class="pntr borderBD">
				<h1  class="cntr w80p inlineB hY" th:text="#{menu.profile}">Profile</h1>
				<a class="bttn" href="/profile/edit" th:href="${edit_profile} ? '/profile' : '/profile/edit'" th:text="${edit_profile} ? #{cancel} : #{user.edit}"> Edit Profile</a>
			</div>
			<!--/*
			* User Image */-->
			<form class="borderB m05" th:classappend="${edit_profile} ? 'fright' : 'fleft'" method="post" action="/upload/files"  enctype="multipart/form-data">
				<table id="img_tbl" style="width: 5em">
					<tr>
						<td>
							<img
								alt="Profile Image"
								src="../static/images/userDefault.jpg"
								th:src="@{${profileImageLink}}"
							/>
						</td>
					</tr>
					<tr th:if="${edit_profile}">
						<td>
							<div class="fileinput">
								<input type="file" id="fileSelect" name="fileSelect" accept="image/*,video/*" multiple="multiple"  />
								<label class="bttn" th:text="#{Select}">Select</label>
							</div>
							<button type="submit" class="bttn" id="change" name="s_profile_img" th:text="#{change}" disabled="disabled">Button</button>
						</td>
					</tr>
					<tr>
						<td>
							<div style="width: 10em;">
								<div th:replace="fragments/imagegallery :: carousel"></div>
							</div>
						</td>
					</tr>
				</table>
			</form>

			<!--/*

	------- Profile -------
*/-->
			<div id="prflTbl" class="borderRD w80p" th:classappend="${edit_profile} ? 'fleft' : 'fright'">
				<form action="/profile/edit" method="post" th:object="${user}">
					<table class="rght w100p">
<!--/*

		* username and email*
*/-->
					<th:block th:unless="${s_e_password}">
						<tr>
							<th class="w20p" th:text="#{login.username}">Username</th>
							<td class="w30p">
								<input th:if="${s_e_username}" type="text" th:field="*{username}" autofocus="autofocus"/>
<!--/*/							<p th:unless="${s_e_username}" th:text="*{username}" class="clrY">Username</p> /*/-->
							</td>
  				     		<td class="lft">
  				     			<p class="error" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</p>
  				     		</td>
						</tr>
						<tr>
							<th th:text="#{signup.eMail}">e-mail</th>
							<td>
								<input th:if="${s_e_username}" type="text" name="eMail" th:field="*{eMail}"/>
<!--/*/							<p th:unless="${s_e_username}" th:text="*{eMail}" class="clrY">Username</p>	/*/-->
							</td>
       						<td>
       							<p class="error" th:if="${#fields.hasErrors('eMail')}" th:errors="*{eMail}">E-Mail Error</p>
       						</td>
						</tr>
						<tr th:if="${edit_profile} and ${s_e_username==null}" class="borderBB">
							<th></th>
							<td class="rght">
								<button type="submit" name="s_e_username" th:text="#{user.edit}">Edit</button>
							</td>
							<td>
							</td>
						</tr>
					</th:block>
						<!--/*

		* Password *
*/-->
						<tr>
							<th th:text="#{login.password}">Password</th>
							<td>
								<input th:if="${s_e_username} or ${s_e_password}" type="password" th:field="*{password}" th:autofocus="${s_e_password}" />
<!--/*/							<p th:unless="${s_e_username} or ${s_e_password}" class="clrY">*******</p>	/*/-->
							</td>
        					<td class="lft">
        						<p class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</p>
        					</td>
						</tr>
<!--/*/
						<th:block th:if="${s_e_password}" >
							<tr>
								<th class="w20p"  th:text="#{user.new_password}">Password</th>
								<td  class="w30p" >
									<input type="password" name="newPassword" th:field="*{newPassword}" />
								</td>
 				      			<td class="lft"><p class="error" th:if="${#fields.hasErrors('newPassword')}" th:errors="*{newPassword}">Username as new password</p></td>
							</tr>
							<tr>
 								<th th:text="#{signup.repassword}">Password</th>
								<td>
									<input type="password" name="newUsername" th:field="*{repassword}" />
								</td>
      							<td><p class="error" th:if="${#fields.hasErrors('repassword')}" th:errors="*{repassword}">Password Error</p></td>
							</tr>
						</th:block>
/*/-->
						<tr th:if="${edit_profile}" class="borderBB">
							<th></th>
							<td class="rght">
								<button type="submit"
										th:id="${s_e_username} or ${s_e_password} ? 'activeButton'"
										th:name="${s_e_username} ? 's_e_username' : 's_e_password'"
										th:text="${s_e_username} ? #{user.save} : #{user.edit}">
									Edit
								</button>
							</td>
							<td class="lft">
								<button th:if="${s_e_username} or ${s_e_password}" type="submit" name="cancel_profile" th:text="#{cancel}">Cancel</button>
							</td>
						</tr>
<!--/*

		* user data *
*/-->
						<tr>
							<th>Title</th>
							<td>
								<select th:if="${s_e_profile}" th:field="*{title}">
									<option th:value="null" th:text="#{Select}">Select</option>
<!--/*/								<option th:each="t : ${titles}" th:value="${t.id}" th:text="#{__('profile.title'+${t.id})__}"></option>	  /*/-->
<!--/*  -->							<option>Mr</option>	<!--*/-->	
								</select>
								<p th:unless="${s_e_profile}" th:text="*{title}!=null ? #{'profile.title'+*{title.id}}" class="clrY"></p>
							</td>
							<td></td>
						</tr>
						<tr>
							<th th:text="#{signup.firstName}">First Name</th>
							<td>
								<input th:if="${s_e_profile}" type="text" name="firstName" th:field="*{firstName}"  autofocus="autofocus"/>
<!--/*/							<p th:unless="${s_e_profile}" th:text="*{firstName}" class="clrY">First Name</p>	/*/-->
							</td>
							<td><p class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">First Name error</p></td>
						</tr>
						<tr>
							<th th:text="#{signup.lastName}">Last Name</th>
							<td>
								<input th:if="${s_e_profile}" type="text" name="lastName" th:field="*{lastName}"  autofocus="autofocus"/>
<!--/*/							<p th:unless="${s_e_profile}" th:text="*{lastName}" class="clrY">Last Name</p> /*/-->
							</td>
       						<td><p class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Last Name</p></td>
						</tr>
						<tr>
							<th th:text="#{signup.sex}">Gender</th>
							<td>
								<ul th:if="${s_e_profile}">
									<li th:each="sex : ${T(jk.web.user.User.Gender).values()}" class="inlineB">
										<input type="radio" th:field="*{sex}" th:value="${sex}" />
										<label th:for="${#ids.prev('sex')}" th:text="#{${sex}}">Gender</label>
									</li>
								</ul>
<!--/*/							<p th:unless="${s_e_profile}" th:text="*{sex} ? #{__*{sex}__}" class="clrY">Gender</p>	/*/-->
							</td>
							<td><p class="error" th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}">Sex Error</p></td>
						</tr>
						<tr>
							<th th:text="#{signup.birthday}">Birthday</th>
							<td>
								<th:block th:if="${s_e_profile}">
									<input th:replace="signup :: birthday"/>
								</th:block>
<!--/*/							<p th:unless="${s_e_profile}" th:text="*{birthYear!=null and birthMonth!=null and birthDay!=null} ? *{#calendars.format(#calendars.create(birthYear, birthMonth, birthDay), 'yyyy MMM d') }" class="clrY">Birthday</p>	/*/-->
							</td>
       						<td><p class="error" th:if="${#fields.hasErrors('birthYear')}" th:errors="*{birthYear}">Birthday error</p></td>
						</tr>
						<tr th:if="${edit_profile}" class="borderBB">
							<th></th>
							<td class="rght">
								<button type="submit"
										name="s_e_profile"
										th:id="${s_e_profile!=null ? 'activeButton' : null}"
										th:text="${s_e_profile!=null} ? #{user.save} : #{user.edit}">Edit</button>
							</td>
							<td class="lft">
								<button th:if="${s_e_profile}" type="submit" name="cancel_profile" th:text="#{cancel}">Cancel</button>
							</td>
						</tr>
					</table>
				</form>
				<!--/* 

			* Professional skills *
*/-->
				<table class="rght">
					<tr>
						<th class="w20p" th:text="#{professional.skills}">PROFESSIONAL
							SKILLS</th>
						<td class="w30p"><input type="text" /></td>
						<td class="w50p lft"><p class="error">PROFESSIONAL SKILLS
								Error</p></td>
					</tr>
					<tr>
						<th th:text="#{professional.work}">WORK</th>
						<td><input type="text" /></td>
						<td><p class="error">WORK error</p></td>
					</tr>
					<tr>
						<th th:text="#{professional.work_with}">WORK WITH</th>
						<td><input type="text" /></td>
						<td><p class="error">WORK WITH error</p></td>
					</tr>
					<tr>
						<th th:text="#{professional.education}">COLLEGE, UNIVERSITY,
							PROFESSIONAL SCHOOL</th>
						<td><input type="text" /></td>
						<td><p class="error">WORK WITH error</p></td>
					</tr>
					<tr th:if="${edit_profile}">
						<th></th>
						<td class="rght">
							<button type="submit" name="s_e_prof_skills" th:text="${s_e_prof_skills!=null} ? #{user.save} : #{user.edit}">Edit</button>
						</td>
						<td class="lft">
							<button type="submit" th:if="${s_e_prof_skills}" name="cancel_edit_prof_skills" th:text="#{cancel}">Cancel</button>
						</td>
					</tr>
				</table>
			</div>
			<!--/* <div class="clear"> - Profile */-->
		</div>
<!--/*

	--------- Addresses ---------
*/-->
		<div class="borderBB">
			<h2 id="addrH" th:text="#{localisation}" class="cntr pntr borderTB hY">Addresses</h2>
			<div id="addrTbls" class="clear borderBB" th:classappend="${showA}==null ? 'dn'">
<!--/* Address(map) #1  */-->
				<div class="w49p inlineB">
					<form th:replace="fragments/user/address :: address(${HOME_Addr})">
						<table class="w100p">
							<tr>
								<td><h2 class="cntr pntr clrY">Home</h2></td>
								<td class="w5"><button type="submit">Edit</button></td>
								<td class="w5"><span><button type="submit">Edit</button></span></td>
							</tr>
						</table>
						<div>
							<table class="w100p rght">
								<tr>
									<th class="w10">Address</th>
									<td class="w16"><input type="text" /></td>
									<td><p class="error">Address error</p></td>
								</tr>
								<tr>
									<th>City</th>
									<td><input type="text" /></td>
									<td><p class="error">City error</p></td>
								</tr>
								<tr>
									<th>Region</th>
									<td><select>
											<option>Select</option>
											<option>Quebec</option>
									</select></td>
									<td><p class="error">Region error</p></td>
								</tr>
								<tr>
									<th>Country</th>
									<td><select>
											<option>Select</option>
											<option>Canada</option>
									</select></td>
								</tr>
								<tr>
									<th>City</th>
									<td><input type="text" /></td>
									<td><p class="error">Postal code error</p></td>
								</tr>
								<tr>
									<td colspan="4" class="cntr "><img
										src="C:/jk/images/maps/mapHOME1.png" /></td>
								</tr>
							</table>
						</div>
					</form>
				</div>
<!--/* Address #2  */-->
				<div class="w49p inlineB">
					<form th:replace="fragments/user/address :: address(${WORK_Addr})">
						<table class="w100p">
							<tr>
								<td><h2 class="cntr pntr clrY">Work</h2></td>
								<td class="w5"><button type="submit">Edit</button></td>
								<td class="w5"><span><button type="submit">Edit</button></span></td>
							</tr>
						</table>
						<div>
							<table class="w100p rght">
								<tr>
									<th class="w10">Address</th>
									<td class="w16"><input type="text" /></td>
									<td><p class="error">Address error</p></td>
								</tr>
								<tr>
									<th>City</th>
									<td><input type="text" /></td>
									<td><p class="error">City error</p></td>
								</tr>
								<tr>
									<th>Region</th>
									<td><select>
											<option>Select</option>
											<option>Quebec</option>
									</select></td>
									<td><p class="error">Region error</p></td>
								</tr>
								<tr>
									<th>Country</th>
									<td><select>
											<option>Select</option>
											<option>Canada</option>
									</select></td>
								</tr>
								<tr>
									<th>City</th>
									<td><input type="text" /></td>
									<td><p class="error">Postal code error</p></td>
								</tr>
								<tr>
									<td colspan="4" class="cntr "><img
										src="C:/jk/images/maps/mapWORK1.png" /></td>
								</tr>
							</table>
						</div>
					</form>
				</div>

			<!--/* <div class="clear"> - Addresses */-->
			</div>
		</div>

		<!--/*

	--------- Calendar ---------
*/-->
		<div class="bttm5 bclr hY">
			<h2 id="clndrH" th:text="#{calendar}" class="cntr pntr">Calendar</h2>
			<div id="calendar"></div>
		</div>
	</div>
	<div th:replace="fragments/footer :: footer">Footer</div>
</body>
</html>