<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title th:text="login.forgot_password">Did you forget your password?</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:replace="fragments/header :: links" rel="stylesheet" type="text/css" href="../static/css/jk.css" th:href="@{/css/jk.css}" />
</head>
<body>
	<div id="header" th:replace="fragments/header :: pageHeader">Header</div>
	<div id="contents" class="cntr p3" th:switch="${message==null}">
		<form th:case="${true}" th:action="@{/login/new_password}" method="post">
			<table>
				<tr>
					<th th:text="#{user.new_password}">Password</th>
					<td><input type="password" th:value="*{newPassword}" /></td>
      				<td><p class="error" th:if="${errorPassword}" th:text="${errorPassword}">new password</p></td>
				</tr>
				<tr>
					<th th:text="#{signup.repassword}">Password</th>
					<td><input type="password" th:value="*{repassword}" /></td>
      				<td><p class="error" th:if="${errorRepassword}" th:text="${errorRepassword}">confirm password</p></td>
				</tr>
				<tr>
					<td></td>
					<td><button type="submit" th:text="#{user.save}">Reset</button></td>
       				<td></td>
				</tr>
			</table>
		</form>
		<p th:case="*" th:utext="#{__${message}__}"></p>
	</div>
<div th:replace="fragments/footer :: footer">Footer</div>
</body>
</html>