<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	lang="en">
<head>
<meta charset="UTF-8" />
<title th:text="${title==null} ? 'FashionProFinder' : #{${title}} + ':FashionProFinder'">FashionProFinder</title>
<th:block th:fragment="headContent">
<meta name="viewport" content="width=device-width, initial-scale=1"/>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
<link rel="stylesheet" href="../static/css/fpf.css" th:href="@{/css/fpf.css}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</th:block>
<th:block th:fragment="googleapis">
<script>
/*<![CDATA[*/
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-60869220-1', 'auto');
  ga('send', 'pageview');
  /*]]>*/
</script>
</th:block>
</head>
<!--
comments: 
IE11
-->
<body>
<th:block th:fragment="footer">
<div id="aboutModal" class="modal fade" th:fragment="about">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
		<span class="sr-only">Fashion Pro Finder</span>
        <h4 class="modal-title">About Us</h4>
      </div>
      <div class="modal-body">
        <p>Fashion Pro Finder is a new research web site specifically oriented towards fashion, cinema, show-business and all that is related with those three categories.</p>
        <p>For example, you want to find a specific job and your region extends all over Canada, there are numerous sites that will offer jobs in that region because it is wide. Fashion Pro Finder will find all the jobs offered in all the Canadian web sites and list the links for you. ONE SITE AND YOU HAVE THEM ALL. </p>
		<p>Fashion Pro Finder is design to be USER FRIENDLY. The user can find the information he is looking for simply by clicking on a Keyword &amp; a Location (if more than one) and then press search. He can also use the alphabet list (select the desired categories from A-Z or All). And he will refine his search by using the advance mode (to be more specific)</p>
		<p>For help or any question, you can always contact us at any time 7/24 and we will reply and assist you within very short delays.</p>
		<hr/>
		<p><a href="">Contact Us</a></p>
		<p>For any questions please <a href="/contact_us">contact us</a>
		</p>
      </div>
    </div><!--/* /.modal-content */-->
  </div><!--/* /.modal-dialog */-->
</div><!--/* /.modal

	Footer

 */--><nav class="navbar navbar-default navbar-fixed-bottom navbar-inverse">
 	<div class="container-fluid"><!--/*

	Fashion PRO Finder

*/--><div class="navbar-header">
 		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
 			<span class="sr-only">Toggle navigation</span>
 			<span class="icon-bar"></span>
 			<span class="icon-bar"></span>
 			<span class="icon-bar"></span>
 		</button>
 		<a href="/" class="navbar-brand">Fashion PRO Finder®</a>
 	</div><!--/*

	Menu Items

*/--><div id="navbar" class="navbar-collapse collapse" aria-expanded="false">
 		<ul class="nav navbar-nav navbar-right">
 			<li><a href="#" data-toggle="modal" data-target="#aboutModal">About us</a></li>
 			<li th:classappend="${menuSelection==null ? 'active' : null}"><a href="/">Search</a></li>
 			<li sec:authorize="hasAuthority('MANAGER')" class="dropup" th:classappend="${managementMenu!=null ? 'active' : null}">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Management<span class="caret"></span></a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="managementMenu">
						<li role="presentation"
								th:classappend="${menuSelection==T(jk.web.controllers.user.FormsController.MenuSelection).MANAGEMENT_EDIT_CATEGORIES ? 'active' : null}">
							<a role="menuitem" tabindex="-1" href="/management/search/categories">Edit Search Categories</a>
						</li>
						<li role="presentation"
								th:classappend="${menuSelection==T(jk.web.controllers.user.FormsController.MenuSelection).MANAGEMENT_USERS ? 'active' : null}">
							<a role="menuitem" tabindex="-1" href="/management/users">Users</a>
						</li>
						<li role="presentation"
								th:classappend="${menuSelection==T(jk.web.controllers.user.FormsController.MenuSelection).MANAGEMENT_STATISTIC ? 'active' : null}">
							<a role="menuitem" tabindex="-1" href="/management/statistic">Statistic</a>
						</li>
						<li role="presentation"
								th:classappend="${menuSelection==T(jk.web.controllers.user.FormsController.MenuSelection).MANAGEMENT_MESSAGES ? 'active' : null}">
							<a role="menuitem" tabindex="-1" href="/management/messages">Messages</a>
						</li>
					</ul>
			</li>
			<li class="dropup" th:classappend="${userMenu!=null ? 'active' : null}">
				<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">User<span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu" aria-labelledby="userMenu">
					<li th:class="${menuSelection==T(jk.web.controllers.user.FormsController.MenuSelection).ADD_SITE_URL ? 'active' : null}">
						<a role="menuitem" tabindex="-1" href="/add-site">Add Site</a>
					</li>
				</ul>
			</li>
			<li th:class="${menuSelection==T(jk.web.controllers.user.FormsController.MenuSelection).CONTACT_US ? 'active' : null}"><a href="/contact_us">Contact Us</a></li>
		</ul>
	</div>
	</div>
	</nav>
</th:block><!--/*

	---  Content ---

*/--><div class="container-fluid" th:classappend="${result==true ? 'result' : null}">
<div class="row top-buffer">
<div id="main" class="col-md-8 col-sm-offset-1" th:classappend="${menuSelection!=null ? 'bg-wt' : null}">
	<h1 id="brand" class="brand" th:classappend="${result==true ? 'text-muted' : null}">FashionProFinder</h1><!--/*


		Search form

*/--><form id="searchForm" action="#" class="form-inline">
		<div class="form-group">
			<label for="keywords" class="sr-only">Keywords</label><input type="text" id="keywords" class="form-control" placeholder="Keywords..." required="required"/>
			<label for="location" class="sr-only">Location</label><input type="text" id="location" class="form-control" placeholder="Location..." />
			<button type="submit" class="btn btn-default glyphicon glyphicon-search"></button>
		</div>
	</form>
	<div id="abc" class="bg-abc mt8 cw">
				<span>Search by alphabet: </span><a href="#">ALL</a>
				<a th:each="ch : ${#strings.arraySplit('A B C D E F G H I J K L M N O P Q R S T U V W X Y Z',' ')}"
					href="#"
					th:class="${ #lists.contains(letters, ch ) ? null : 'empty' }"
					th:text="${ ch }">a</a>
	</div><!--/*  

	Categories

*/--><div id="categories" class="navbar" th:remove="body">
<th:block th:fragment="categories">
<div class="navbar-header">
 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#categoriesList">
 		<span class="sr-only">Toggle categories</span>
 		<span class="icon-bar"></span>
 		<span class="icon-bar"></span>
 		<span class="icon-bar"></span>
 </button>
	<h4 th:text="${startWith}">ALL</h4>
</div><!--/*

				 start Categories

	  				*/--><div id="categoriesList" class="navbar-collapse collapse" aria-expanded="false">
	  						<ul class="c3" th:remove="all-but-first">
								<li th:each="cat:${categories}"><a href="#" th:text="${cat.categoryName}">Acrobats</a></li>
								<li><a href="#">Actors(stagecombat)</a></li>
								<li><a href="#">Animation</a></li>
								<li><a href="#">Artisticgymnasts</a></li>
								<li><a href="#">Choreographers</a></li>
							</ul>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
$(function(){
	$('#categoriesList a').on('click',
			function(e){
				e.preventDefault();
				$('#keywords').val($(this).text());
				$('#page').remove();
				$('#categories').empty();
				$('#abc a.active').removeClass('active');
				$('#searchForm').submit();
				return false;
	});
});
/*]]>*/
</script>
						</div><!--/*

	finish Categories


*/--></th:block></div><!--/*


	Result, Forms or Message

*/--><div id="result" th:switch="${menuSelection}">
		<th:block th:case="${T(jk.web.controllers.user.FormsController.MenuSelection).CONTACT_US}">
			<div th:replace="fragments/forms :: contact_us"></div>
		</th:block>
		<th:block th:case="${T(jk.web.controllers.user.FormsController.MenuSelection).ADD_SITE_URL}">
			<div th:replace="fragments/forms :: add-site"></div>
		</th:block>
		<div th:case="${T(jk.web.controllers.user.FormsController.MenuSelection).CONFIRM_MESSAGE}">
			<h3 th:text="#{${messageTitle}}">Message Title</h3>
			<p th:each="message:${content}" th:utext="#{${message}}">contents</p>
		</div>
	</div>				
</div><!--/*


		enf of the first column



 */-->
<div class="col-md-3">
<script async="async" src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle" style="display:inline-block;width:250px;height:250px" data-ad-client="ca-pub-1240215757349321"  data-ad-slot="7690894295"></ins>
<ins class="adsbygoogle" style="display:inline-block;width:250px;height:250px" data-ad-client="ca-pub-1240215757349321" data-ad-slot="3260694695"></ins>
<script>(adsbygoogle = window.adsbygoogle || []).push({});(adsbygoogle = window.adsbygoogle || []).push({});</script>
</div>
</div>
</div>
<!--/*		----	End of the body	----



	----	FRAFMENTS	----

*/-->
<th:block th:remove="all">


<div th:switch="${results.get('type')}" th:with="pages=${results['pages']}, activeDozen=${pages!=null and pages &lt; page ? page/10 : page = 0}" th:fragment="result"><!--/*


	JOBS

*/--><div th:case="JOBS" class="panel panel-default" th:with="jobs=${results.get('jobs')}">
		<div class="panel-heading">
    		<h3 class="panel-title" th:inline="text">
    			<small>Searching for:</small>
				[[${keywords}]]
    			<small th:text="${'( '+results.hits+' result'+(results.hits!=1 ? 's' : '')+'; '+
    								pages+' page'+(pages!=1 ? 's' : '')+' )'}">
    			</small>
    		</h3>
		</div>
		<div class="panel-body"><!--/*

			Paginatin

	*/--><nav th:if="${pages!=null and pages>1}" th:fragment="pagination">
				<ul class="pagination">
					<li th:if="${pages>10}" class="prev" th:classappend="${activeDozen==0 ? 'disabled' : null}">
						<a href="#" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
						</a>
					</li>
					<li th:each="num:${#numbers.sequence(0,pages-1)}"
								th:with="dozen=${num/10}"
								th:class="${'dozen'+dozen+(num==page ? ' active' : '')}"
								th:classappend="${dozen!=activeDozen} ? ' dNone'">
						<a href="#" th:href="${num}" th:text="${num+1}">1</a>
					</li>
					<li th:if="${pages>10}" class="nxt" th:classappend="${activeDozen>=pages/10-1} ? 'dNone'">
						<a href="#" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
						</a>
					</li>
				</ul>
			</nav><!--/*

		Job results

	*/--><dl th:each="job:${jobs}">
				<dt><a th:href="@{${job.url}}" th:text="${#strings.isEmpty(job.company) ? 'Go to site' : job.company}">Company Name</a></dt>
				<th:block th:if="${!#strings.isEmpty(job['title'])}">
					<dt>Title:</dt>
					<dd th:text="${job.title}"></dd>
				</th:block>

				<th:block th:if="${!#strings.isEmpty(job['salary'])}">
				<dt>Salary:</dt>
				<dd th:text="${job.salary}"></dd>
				</th:block>

				<th:block th:if="${!#strings.isEmpty(job['salary_currency_code'])}">
				<dt>Salary currency code:</dt>
				<dd th:text="${job.salary_currency_code}"></dd>
				</th:block>

				<th:block th:if="${!#strings.isEmpty(job['locations'])}">
				<dt>Locations:</dt>
				<dd th:text="${job.locations}"></dd>
				</th:block>

				<th:block th:if="${!#strings.isEmpty(job['description'])}">
				<dt>Description:</dt>
				<dd th:utext="${job.description}"></dd>
				</th:block>

				<th:block th:if="${!#strings.isEmpty(job['site'])}">
				<dt>Site:</dt>
				<dd><a th:href="@{${job.site}}" th:text="${job.site}"></a></dd>
				</th:block>
			</dl>
			<div th:replace=":: pagination"></div>
		</div>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*//*[-

	********     Page Select OnClick funktion       ********

	-]*/
	var activeDozen = /*[[${activeDozen}]]*/ 0;
	var pages = /*[[${pages}]]*/ 0;
	$(function(){
		$('.pagination a').on('click', function(e) {
			e.preventDefault();
			var parent = $(this).parent();
			if(parent.hasClass('active') || parent.hasClass('disabled'))
				return false;
			var attr = $(this).attr('aria-label');/*[-

			if next or preview button

		-]*/if(attr){
				$('.dozen'+activeDozen).addClass('dNone');
					if(attr=='Previous'){
						activeDozen--;
					}else{
						activeDozen++;
					}
					$('.dozen'+activeDozen).removeClass('dNone');
					if(activeDozen == 0){
						$('.prev').addClass('disabled');
					}else{
						$('.prev').removeClass('disabled');
					}
					if(pages && activeDozen >= (Math.ceil(pages/10)-1)){
						$('.nxt').addClass('dNone');
					}else{
						$('.nxt').removeClass('dNone');
					}
			}else{
				var pageInput = $('#page');
				if(!pageInput[0])
					pageInput =  $("<input></input>")
	               					.attr("type", "hidden")
	              					.attr("id", "page")
	            					.appendTo($('body'));
				pageInput.val($(this).text())
				$('#searchForm').submit();
			}
			return false;
		});
	});
/*]]>*/
</script>
	</div><!--/*


	LOCATIONS

*/--><div th:case="LOCATIONS" th:with="locations=${results.get('solveLocations')}">
		<p >Locations</p>
			<ul id="solveLocations" class="c3">
				<li th:each="location:${locations}"><a href="#" th:text="${location['name']}">Montreal, QC</a></li>
			</ul>
<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*//*[-

	********     Page Select OnClick funktion       ********

-]*/
$(function(){
	$('#solveLocations a').on('click',
			function(e){
				e.preventDefault();
				$('#location').val($(this).text());
				$('#searchForm').submit();
				return false;
	});
});
/*]]>*/
</script>
<!--/*

	finish Location

*/--></div><!--/*


	ERROR

*/--><div th:case="ERROR">
	</div><!--/*


	DEFAULT

*/--><div th:case="*">
	</div>
</div>
</th:block>
<script type="text/javascript" th:inline="javascript">/*<![CDATA[*//*[-

       Function for <div id="abc">...</div>

-]*/$('#abc a').on('click',
			function(e) {
				e.preventDefault();
				if($(this).hasClass('empty')){
					return false;
				}
				setBgColor();
				$('#categories').empty();
				if($(this).hasClass('active')){
					$(this).removeAttr('class');
					$('#categories').removeClass('navbar-default')
					return false;
				}
				$('#abc .active').removeAttr('class');
				$(this).addClass('active');
				$('#categories').load('/search/categories/' + this.text);
				return false;
		});/*[-

		//On Search Submit

-]*/$('#searchForm').on('submit',
		function(e){
				e.preventDefault();
   				var keywords = trim($('#keywords').val());
				if(!keywords)
					return false;
				setBgColor();
				$('#categories').empty();
				$('#result').empty();
				var data = {};
				data['keywords'] = keywords;
				var location = trim($('#location').val());
				if(location)
					data['location'] = location;
				var page = $('#page').val();
				if(page)
					data['page'] = page;
				$('#result').empty();
				$('#result').load('/careerjet', data);
				return false;
	});
	$('categoriesList').on('click',
			function(e){
			e.preventDefault();
	});
	$('.brand').on('click', function(){
		location.reload();
		$('#keywords').val($(this).text());
		$('#searchForm').submit();
	});
	function setBgColor(){
		if(!$('#main').hasClass("bg-wt")){
			$('#main').addClass("bg-wt")
		}
		if(!$('#categories').hasClass('navbar-default')){
			$('#categories').addClass('navbar-default')
		}
		if(!$('#brand').hasClass('text-muted')){
			$('#brand').addClass('text-muted');
		}
		
	}
	function trim(text) {
		if (text) {
			text = $.trim(text);
		}
		return text;
	}
	/*]]>*/
	</script>
</body>
</html>