<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	lang="en">
<head>
<meta charset="UTF-8" />
<title>FashionProFinder</title>
<th:block th:fragment="head">
<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="../static/favicon.ico" th:href="@{/favicon.ico}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
<link rel="stylesheet" href="../static/css/general_static.css" th:href="@{/css/general.css}" />
<link rel="stylesheet" href="../static/css/normalize.css" th:href="@{/css/normalize.css}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</th:block>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60869220-1', 'auto');
  ga('send', 'pageview');

</script>
</head>
<!--
comments: 
IE11
-->
<body th:with="searchMenu=${true}">
	<div class="container-fluid welcome">
		<header>
			<div class="brand">FashionProFinder</div>
		</header>
		<div id="search" class="search">
			<form id="searchForm" action="#" class="form-inline">
				<div class="form-group">
					<input type="text" id="keywords" placeholder="Keywords..." />
					<input type="text" id="location" placeholder="Location..." />
					<button type="submit" class="glyphicon glyphicon-search"></button>
				</div>
			</form>
			<div id="abc">
				<span>Search by alphabet:</span> <a href="#">ALL</a>
				<a th:each="ch : ${ CHARACTERS }" href="#"
					th:class="${ #lists.contains(letters, ch ) ? null : 'empty' }"
					th:text="${ ch }">a</a>

				<th:block th:remove="all">
					<a class="empty">b</a>
					<a href="#">c</a>
					<a href="#" class="active">d</a>
					<a href="#" class="empty">e</a>
					<a href="#">f</a>
					<a href="#" class="empty">g</a>
					<a href="#" class="empty">h</a>
					<a href="#">j</a>
					<a href="#" class="empty">k</a>
					<a href="#">l</a>
					<a href="#">m</a>
					<a href="#">n</a>
					<a href="#" class="empty">o</a>
					<a href="#">p</a>
					<a href="#" class="empty">q</a>
					<a href="#">r</a>
					<a href="#">s</a>
					<a href="#" class="empty">t</a>
					<a href="#" class="empty">u</a>
					<a href="#" class="empty">v</a>
					<a href="#">w</a>
					<a href="#" class="empty">x</a>
					<a href="#" class="empty">y</a>
					<a href="#" class="empty">z</a>
				</th:block>
			</div>

			<div class="advance_search">
				<div class="advance_search_btn" th:remove="ALL">Advance Search</div>
				<div class="clear" th:remove="ALL"></div>
				<div class="advance_search_panel" th:remove="ALL">
					<form class="searchFormAdvance" action="#">
						<select name="gender" id="gender">
							<option value="">Any Gender</option>
							<option value="male">Male</option>
							<option value="female">Female</option>
						</select>
						<select name="age" id="age">
							<option value="">Any Age</option>
							<option value="13">13 and Under</option>
							<option value="14-17">14-17</option>
							<option value="18-21">18-21</option>
							<option value="22-34">22-34</option>
							<option value="35-44">35-44</option>
							<option value="45-54">45-54</option>
							<option value="55-64">55-64</option>
							<option value="65">65 and Over</option>
						</select>
						<select name="job" id="job">
							<option value="">Job Offer/Looking</option>
							<option value="job-offer">Job Offer</option>
							<option value="job-looking">Looking for Job</option>
						</select>
						<select name="interest" id="environment">
							<option value="">Any Environment</option>
							<option value="bars/clubs">Bars/Clubs</option>
							<option value="cinema">Cinema</option>
							<option value="circus">Circus</option>
							<option value="spas/salons">Spas/Salons</option>
							<option value="out doors">Out Doors</option>
							<option value="in doors">In Doors</option>
							<option value="travail">Travail</option>
						</select>
						<select name="interest" id="sort-by">
							<option value="">Sort By</option>
							<option value="ascending">Ascending</option>
							<option value="descending">Descending</option>
							<option value="latest">Latest</option>
						</select>
						<select id="pagesize" name="interest" title="Results Per Page">
							<option value="">Results Per Page</option>
							<option value="10">10</option>
							<option value="" selected="selected">20</option>
							<option value="50">50</option>
						</select>

						<button type="submit" class="advance_search_submit">Submit search</button>
						<div class="clear"></div>
					</form>
				</div>
				<div class="row">
					<div class="col-md-8">

						<div id="categories" th:remove="body">
							<p class="breaker">ALL</p><!--/*

				 start Categories

	  					*/--><ul class="c3">
								<li><a href="#">Acrobats</a></li>
								<li><a href="#">Actors(stagecombat)</a></li>
								<li><a href="#">Animation</a></li>
								<li><a href="#">Artisticgymnasts</a></li>
								<li><a href="#">Choreographers</a></li>
								<li><a href="#">Clowns</a></li>
								<li><a href="#">Comedians (Public, Television, Film)</a></li>
								<li><a href="#">Composers</a></li>
								<li><a href="#">Contortionists</a></li>
								<li><a href="#">Dancers</a></li>
								<li><a href="#">Decorators</a></li>
								<li><a href="#">Fashion</a></li>
								<li><a href="#">Figuration(public)</a></li>
								<li><a href="#">Filmmakers</a></li>
								<li><a href="#">Fire-eaters</a></li>
								<li><a href="#">Funambulists</a></li>
								<li><a href="#">Improvisation</a></li>
								<li><a href="#">Jugglers</a></li>
								<li><a href="#">Liner (Light, photo)</a></li>
								<li><a href="#">Lyricalsinging(opera)</a></li>
								<li><a href="#">Magicians</a></li>
								<li><a href="#">Makeup</a></li>
								<li><a href="#">Mimes</a></li>
								<li><a href="#">ModelsPhotoMusicians</a></li>
								<li><a href="#">MotionSensors</a></li>
								<li><a href="#">MusicalInterpreters</a></li>
								<li><a href="#">Narrators(voiceover)</a></li>
								<li><a href="#">Puppeteers</a></li>
								<li><a href="#">ResponsibleforStaging</a></li>
								<li><a href="#">Stuntmen</a></li>
								<li><a href="#">Waders</a></li>
							</ul><!--/*

							 finish Categories

					*/--></div>

						<div id="locations" th:remove="body">
							<p class="breaker">Locations</p><!--/*

							 start Keywords

					 */--><ul id="solveLocations" class="c3">
								<li><a href="#">Montreal, QC</a></li>
								<li><a href="#">Laval, QC</a></li>
								<li><a href="#">Toronto, ON</a></li>
								<li><a href="#">North York, ON</a></li>
							</ul><!--/*

							 finish Keywords
				*/--></div>

						<div id="result" th:remove="body">
							<p id="count" class="breaker">2 results</p>
							<ul class="pages list-inline pagination">
								<li class='prev disabled'><a href="#" aria-label="Previous">
									<span aria-hidden="true">«</span>
								</a></li>
								<li class="dozen1"><a href="#">1</a></li>
								<li class="dozen1"><a href="#">2</a></li>
								<li class="dozen1"><a href="#">3</a></li>
								<li class="active dozen1"><a href="#">4</a></li>
								<li class="dozen1"><a href="#">5</a></li>
								<li class="dozen1"><a href="#">6</a></li>
								<li class="dozen1"><a href="#">7</a></li>
								<li class="dozen1"><a href="#">8</a></li>
								<li class="dozen1"><a href="#">9</a></li>
								<li class="dozen1"><a href="#">10</a></li>
								<li class='dNone dozen2'><a href="#">221</a></li>
								<li class='dNone dozen2'><a href="#">222</a></li>
								<li class='dNone dozen2'><a href="#">223</a></li>
								<li class='dNone dozen2'><a href="#">224</a></li>
								<li class='dNone dozen2'><a href="#">225</a></li>
								<li class='dNone dozen2'><a href="#">226</a></li>
								<li class='dNone dozen2'><a href="#">227</a></li>
								<li class='dNone dozen2'><a href="#">228</a></li>
								<li class='dNone dozen2'><a href="#">229</a></li>
								<li class='dNone dozen2'><a href="#">230</a></li>
								<li class='dNone dozen3'><a href="#">555</a></li>
								<li class='dNone dozen3'><a href="#">777</a></li>
								<li class='dNone dozen3'><a href="#">999</a></li>
								<li class='nxt'><a href="#" aria-label="Next">
									<span aria-hidden="true">»</span>
								</a></li>
							</ul>



							<ul id="jobs">
								<li><ul>
									<li>
										<a href="http://jobviewtrack.com/en-ca/job-131c414c430d020f531d4f0d48000003454715050c00284f544a44100e0207154e0a05001a0e0a4e765b0d534b4554404c10001c25154e0a05001a0e0a4e765b0d534b4554404c100601497514535d55/fff8a461d9c56b4e601b228fda0287a8.html" target="_blank">Apex Media Corp. (a.k.a. Mark Animation)</a>
									</li>
									<li><span>Title: </span>3D animator (for kid's TV
										animation and digital games)</li>
									<li><span>Locations: </span>North York, ON</li>
									<li><span>Description: </span>Apex Media Corp. (a.k.a.
										Mark <b>Animation</b>) Web Site: Job requirements Languages
										English Education Completion..., etc.) Not applicable .
										Experience 5 years or more . Area of Design Specialization <b>Animation</b>;
										Multimedia . Business...</li>
									<li><span>Site: </span><a href="http://www.jobbank.gc.ca"
										target="_blank">www.jobbank.gc.ca</a></li>
								</ul></li>
								<li><ul>
									<li>
										<a href="http://jobviewtrack.com/en-ca/job-1e4e414443000a1d4e134e611c040f040d45061b6b1a4647485e59160e1a480621505b505c/a00e600da57afc3782aa951b6232660c.html">Go to site</a>
									</li>
									<li><span>Title: </span>3D animator (for kid's TV
										animation and digital games)</li>
									<li><span>Locations: </span>North York, ON</li>
									<li><span>Description: </span>Apex Media Corp. (a.k.a.
										Mark <b>Animation</b>) Web Site: Job requirements Languages
										English Education Completion..., etc.) Not applicable .
										Experience 5 years or more . Area of Design Specialization <b>Animation</b>;
										Multimedia . Business...</li>
									<li><span>Site: </span><a href="http://www.jobbank.gc.ca"
										target="_blank">www.jobbank.gc.ca</a></li>
								</ul></li>
								<li><ul>
									<li>
										<a href="http://jobviewtrack.com/en-ca/job-1b12414c430d020f531d4f0d48530a650c4e071c1b06495f525f2f0501074a15540a070f6c5401001506001e4b5f544243655c5d1646/2d38edadc66a4b4020057f53fd42295b.html" target="_blank">LCI Education</a>
									</li>
									<li><span>Title: </span>3D animator (for kid's TV
										animation and digital games)</li>
									<li><span>Locations: </span>North York, ON</li>
									<li><span>Description: </span>Apex Media Corp. (a.k.a.
										Mark <b>Animation</b>) Web Site: Job requirements Languages
										English Education Completion..., etc.) Not applicable .
										Experience 5 years or more . Area of Design Specialization <b>Animation</b>;
										Multimedia . Business...</li>
									<li><span>Site: </span><a href="http://www.jobbank.gc.ca"
										target="_blank">www.jobbank.gc.ca</a></li>
								</ul></li>
								<li><ul>
									<li><span>Title: </span>3D animator (for kid's TV
										animation and digital games)</li>
									<li><span>Locations: </span>North York, ON</li>
									<li><span>Description: </span>Apex Media Corp. (a.k.a.
										Mark <b>Animation</b>) Web Site: Job requirements Languages
										English Education Completion..., etc.) Not applicable .
										Experience 5 years or more . Area of Design Specialization <b>Animation</b>;
										Multimedia . Business...</li>
									<li><span>Site: </span><a href="http://www.jobbank.gc.ca"
										target="_blank">www.jobbank.gc.ca</a></li>
								</ul></li>
								<li><ul>
									<li>
										<a href="http://jobviewtrack.com/en-ca/job-131c414c430d020f531d4f0d48000003454715050c00284f544a44100e0207154e0a05001a0e0a4e765b0d534b4554404c10001c25154e0a05001a0e0a4e765b0d534b4554404c100601497514535d55/fff8a461d9c56b4e601b228fda0287a8.html" target="_blank">Apex Media Corp. (a.k.a. Mark Animation)</a>
									</li>
									<li><span>Title: </span>3D animator (for kid's TV
										animation and digital games)</li>
									<li><span>Locations: </span>North York, ON</li>
									<li><span>Description: </span>Apex Media Corp. (a.k.a.
										Mark <b>Animation</b>) Web Site: Job requirements Languages
										English Education Completion..., etc.) Not applicable .
										Experience 5 years or more . Area of Design Specialization <b>Animation</b>;
										Multimedia . Business...</li>
									<li><span>Site: </span><a href="http://www.jobbank.gc.ca"
										target="_blank">www.jobbank.gc.ca</a></li>
								</ul></li>
								<li><ul>
									<li>
										<a href="http://jobviewtrack.com/en-ca/job-131c414c430d020f531d4f0d48000003454715050c00284f544a44100e0207154e0a05001a0e0a4e765b0d534b4554404c10001c25154e0a05001a0e0a4e765b0d534b4554404c100601497514535d55/fff8a461d9c56b4e601b228fda0287a8.html" target="_blank">Apex Media Corp. (a.k.a. Mark Animation)</a>
									</li>
									<li><span>Title: </span>3D animator (for kid's TV
										animation and digital games)</li>
									<li><span>Locations: </span>North York, ON</li>
									<li><span>Description: </span>Apex Media Corp. (a.k.a.
										Mark <b>Animation</b>) Web Site: Job requirements Languages
										English Education Completion..., etc.) Not applicable .
										Experience 5 years or more . Area of Design Specialization <b>Animation</b>;
										Multimedia . Business...</li>
									<li><span>Site: </span><a href="http://www.jobbank.gc.ca"
										target="_blank">www.jobbank.gc.ca</a></li>
								</ul></li>
								<li><ul>
									<li>
										<a href="http://jobviewtrack.com/en-ca/job-131c414c430d020f531d4f0d48000003454715050c00284f544a44100e0207154e0a05001a0e0a4e765b0d534b4554404c10001c25154e0a05001a0e0a4e765b0d534b4554404c100601497514535d55/fff8a461d9c56b4e601b228fda0287a8.html" target="_blank">Apex Media Corp. (a.k.a. Mark Animation)</a>
									</li>
									<li><span>Title: </span>3D animator (for kid's TV
										animation and digital games)</li>
									<li><span>Locations: </span>North York, ON</li>
									<li><span>Description: </span>Apex Media Corp. (a.k.a.
										Mark <b>Animation</b>) Web Site: Job requirements Languages
										English Education Completion..., etc.) Not applicable .
										Experience 5 years or more . Area of Design Specialization <b>Animation</b>;
										Multimedia . Business...</li>
									<li><span>Site: </span><a href="http://www.jobbank.gc.ca"
										target="_blank">www.jobbank.gc.ca</a></li>
								</ul></li>
								<li><ul>
									<li>
										<a href="http://jobviewtrack.com/en-ca/job-131c414c430d020f531d4f0d48000003454715050c00284f544a44100e0207154e0a05001a0e0a4e765b0d534b4554404c10001c25154e0a05001a0e0a4e765b0d534b4554404c100601497514535d55/fff8a461d9c56b4e601b228fda0287a8.html" target="_blank">Apex Media Corp. (a.k.a. Mark Animation)</a>
									</li>
									<li><span>Title: </span>3D animator (for kid's TV
										animation and digital games)</li>
									<li><span>Locations: </span>North York, ON</li>
									<li><span>Description: </span>Apex Media Corp. (a.k.a.
										Mark <b>Animation</b>) Web Site: Job requirements Languages
										English Education Completion..., etc.) Not applicable .
										Experience 5 years or more . Area of Design Specialization <b>Animation</b>;
										Multimedia . Business...</li>
									<li><span>Site: </span><a href="http://www.jobbank.gc.ca"
										target="_blank">www.jobbank.gc.ca</a></li>
								</ul></li>
							</ul>
						</div>
					</div>

					<div id="ads" name="ads" class="col-md-4 sponsored" th:remove="body">
						<span>Sponsored Ads</span>
						<div class="adds">
							<!-- start sponsored ads -->

							<ul>
								<li><ul>
									<li><span>Title: </span>3D animator (for kid's TV
										animation and digital games)</li>
									<li><span>Locations: </span>North York, ON</li>
									<li><span>Description: </span>Apex Media Corp. (a.k.a.
										Mark <b>Animation</b>) Web Site: Job requirements Languages
										English Education Completion..., etc.) Not applicable .
										Experience 5 years or more . Area of Design Specialization <b>Animation</b>;
										Multimedia . Business...</li>
									<li><span>Site: </span><a href="http://www.jobbank.gc.ca"
										target="_blank">www.jobbank.gc.ca</a></li>
								</ul></li>

								<li><ul>
									<li><span>Title: </span>3D animator (for kid's TV
										animation and digital games)</li>
									<li><span>Locations: </span>North York, ON</li>
									<li><span>Description: </span>Apex Media Corp. (a.k.a.
										Mark <b>Animation</b>) Web Site: Job requirements Languages
										English Education Completion..., etc.) Not applicable .
										Experience 5 years or more . Area of Design Specialization <b>Animation</b>;
										Multimedia . Business...</li>
									<li><span>Site: </span><a href="http://www.jobbank.gc.ca"
										target="_blank">www.jobbank.gc.ca</a></li>
								</ul></li>
								<li><ul>
									<li><span>Title: </span>3D animator (for kid's TV
										animation and digital games)</li>
									<li><span>Locations: </span>North York, ON</li>
									<li><span>Description: </span>Apex Media Corp. (a.k.a.
										Mark <b>Animation</b>) Web Site: Job requirements Languages
										English Education Completion..., etc.) Not applicable .
										Experience 5 years or more . Area of Design Specialization <b>Animation</b>;
										Multimedia . Business...</li>
									<li><span>Site: </span><a href="http://www.jobbank.gc.ca"
										target="_blank">www.jobbank.gc.ca</a></li>
								</ul></li>

							</ul>
							<!-- finish sponsored ads -->
						</div>


						<div class="banner_300x250 banner1">
							<img src="../static/images/advertising300x250-1.gif"
								th:src="@{/images/advertising300x250-1.gif}"
								width="300"
								height="250" />
						</div>
						<div class="banner_300x250 banner2">
							<img src="../static/images/advertising300x250-1.gif"
								th:src="@{/images/advertising300x250-1.gif}"
								width="300"
								height="250" />
						</div>

					</div>
				</div>
			</div>
		</div>


		<div id="wrapMainBg"></div>
		<img id="mainBg" th:src="@{${bgImage}}"/>

	</div>
<div id="aboutModal" class="modal fade" th:fragment="about">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title">About Us</h4>
      </div>
      <div class="modal-body">
        <p>Fashion Pro Finder is a new research web site specifically oriented towards fashion, cinema, show-business and all that is related with those three categories.</p>
        <p>For example, you want to find a specific job and your region extends all over Canada, there are numerous sites that will offer jobs in that region because it is wide. Fashion Pro Finder will find all the jobs offered in all the Canadian web sites and list the links for you. ONE SITE AND YOU HAVE THEM ALL. </p>
		<p>Fashion Pro Finder is design to be USER FRIENDLY. The user can find the information he is looking for simply by clicking on a Keyword &amp; a Location (if more than one) and then press search. He can also use the alphabet list (select the desired categories from A-Z or All). And he will refine his search by using the advance mode (to be more specific)</p>
		<p>For help or any question, you can always contact us at any time 7/24 and we will reply and assist you within very short delays.</p>
		<hr/>
		<p>Contact Us</p>
		<p>For any questions please contact us <a href="mailto:info@fashionprofinder.com">Info@fashionprofinder.com/</a>
		</p>
      </div>
    </div><!--/* /.modal-content */-->
  </div><!--/* /.modal-dialog */-->
</div><!--/* /.modal

	Footer

 */-->
 	<nav class="navbar navbar-default navbar-fixed-bottom navbar-inverse" th:fragment="footer">
 	<div class="container-fluid">
 	<div class="navbar-header">
 		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
 			<span class="sr-only">Toggle navigation</span>
 			<span class="icon-bar"></span>
 		</button>
 		<a href="/" class="navbar-brand">Fashion PRO Finder®</a>
 	</div>
 	<div id="navbar" class="collapse navbar-collapse">
 		<ul class="nav navbar-nav navbar-right">
 			<li><a href="#" data-toggle="modal" data-target="#aboutModal">About us</a></li>
 			<li th:classappend="${searchMenu!=null ? 'active' : null}"><a href="/">Search</a></li>
 			<li class="dropup" sec:authorize="hasAuthority('MANAGER')" th:classappend="${managementMenu!=null ? 'active' : null}">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Management<span class="caret"></span></a>
					<ul class="dropdown-menu navbar-inverse" role="menu" aria-labelledby="managementMenu">
						<li role="presentation" th:classappend="${categoriesMenu!=null ? 'active' : null}"><a role="menuitem" tabindex="-1" href="/management/search/categories">Edit Search Categories</a></li>
						<li role="presentation" th:classappend="${usersMenu!=null ? 'active' : null}"><a role="menuitem" tabindex="-1" href="/management/users">Users</a></li>
					</ul>
			</li>
		</ul>
	</div>
	</div>
	</nav><!--/*

	End of the body

*/-->
</body>
	<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
/*[-*/

	//Function to show 'Advance Search Panel'

/*-]*/	$('.advance_search_btn').click(function() {
			$('.advance_search_panel').toggle("slow");
		});
/*[-*/
		//Function for <div id="abc">...</div>

/*-]*/	var page;
		var className = 'dozen';
		$('#abc a').on('click',
			function(e) {
				$('#categories').hide();
				e.preventDefault();
				if($(this).attr('class')=='empty')
					return;
				$('#abc .active').removeAttr('class');
				$(this).addClass('active');
				$('#categories').empty();
				$.ajax({
						url : '/search/categories/' + this.text,
						type : 'POST',

					success : function(data) {
						var uList = $('<ul></ul>').addClass('c3');
						$.each(data, function(index, value) {
							if (value.categoryId == 0) {
								$('<p></p>').addClass('breaker').text(value.categoryName).appendTo($('#categories')).after(uList);
							} else {
								uList.append(
										$('<li></li>').append(
												$('<a></a>').attr('href', '#').text(value.categoryName)
										)
								);
							}
					});
					$('#categories').show();
					$('#categories a').on('click', function(e) {
								e.preventDefault();
								$('#keywords').val(this.text);
								$('#searchForm').submit();
						});
				}
				});
			});/*[-

				//On Submit

-]*/		$('#searchForm').on('submit', function(e){
				e.preventDefault();
				var wel =$('.welcome');
				if(wel[0]!==undefined){
					wel.removeClass('welcome').addClass('result');
				}
		$('#categories').empty();
			$('#result').empty();
   				var keywords = trim($('#keywords').val());
				if(keywords){
					var data = {};
					data['keywords'] = keywords;

					var location = trim($('#location').val());
					if(location){
						data['location'] = location;
					}

					if(page){
						data['page'] = page;
					}

					var pagesize = $('#pagesize').val();
					if(pagesize){
						data['pagesize'] = pagesize
					}
					$.ajax({
						url : '/careerjet',
						type : 'POST',
						data : data ,

						success : function(data) {
								switch(data.type){
								case "JOBS":
									jobs(data);
									break;
								case "LOCATIONS":
									locations(data.solveLocations);
									break;
								case "ERROR":
									alert(data);
									break;
								default:
									alert(data);
								}
							}
						});
					}
		});
			function jobs(data) {
				jobsCount(data.hits);
				jobsPages(data.pages);
				jobsResults(data.jobs);
			}
			function jobsCount(hits) {
				if (hits !== undefined) {
					$('#result').append(
							$('<p></p>').addClass('breaker').attr('id', 'count').addClass('breaker').text( hits + " results" )
					);
				}
			}
var activeDozen;
function jobsPages(pages) {

	var li;
	if (pages && pages > 1) {
		var p = $('<ul></ul>')
				.insertAfter($('#count'))
				.addClass('pages list-inline pagination')
				.append(/*[-

			              Preview button

-]*/				$('<li></li>')
						.addClass('prev')
						.append(
								$('<a></a>')
								.attr('href', '#')
								.attr('aria-label', 'Previous')
								.append(
										$('<span></span>')
										.attr('aria-hidden', 'true')
										.text('«')
								)
						)
				);/*[-

	              pages creation

-]*/
		for (var i = 1; i <= pages; i++) {
			var cn = className + Math.ceil(i/10);
			li = $('<li></li>')
			.appendTo(p)
			.append(
					$('<a></a>').attr('href', '#').text(i)
					).addClass(cn+' dNone');/*[-

            set active pages

-]*/	if ((page && page == i) || (!page && i == 1)) {
				li.addClass("active");
				activeDozen = Math.ceil(i/10);
			}
		}/*[-
					    
					    Next Button
					    
-]*/	li = $('<li></li>')
			.addClass('nxt')
			.appendTo(p)
			.append(
					$('<a></a>')
					.attr('href', '#')
					.attr('aria-label', 'Next')
					.append(
							$('<span></span>')
							.attr('aria-hidden', 'true')
							.text('»')
					)
			);/*[-

					Disable next if first dozen

-]*/	if(pages && activeDozen == Math.ceil(pages/10)){
			$('.nxt').addClass('dNone');
		}/*[-

		              Disable preview if first dozen

-]*/	if(activeDozen == 1){
			$('.prev').addClass('disabled');
		}/*[-

					Show 10 buttons

-]*/	$('.' + className + activeDozen).removeClass('dNone');
			page = undefined;
	}
}
			function jobsResults(jobs) {
				if (jobs) {
					var length = jobs.length;
					if (length > 0) {
						var list = $('<ul></ul>').attr('id', 'jobs').appendTo('#result');
						$.each(	jobs,
								function(index, value) {
										var ul = $('<ul></ul>')
										$('<li></li>')
											.appendTo(list)
											.append(ul);
										$('<li></li>')
											.appendTo(ul)
											.append(
												$('<a></a>')
													.attr('href', value.url).text(value.company ? value.company : 'Go to site')
													.attr('target', 'blank')
											);

										if (value.title) {
											$('<li></li>')
												.appendTo(ul)
												.append('<span>Title: </span>' + value.title);
										}
										if (value.salary) {
											$('<li></li>')
												.appendTo(ul)
												.append('<span>Salary: </span>' + value.salary);
										}
										if (value.salary_currency_code) {
											$('<li></li>')
												.appendTo(ul)
												.append('<span>Salary currency code: </span>' + value.salary_currency_code);
										}
										if (value.locations) {
											$('<li></li>')
												.appendTo(ul)
												.append('<span>Locations: </span>' + value.locations);
										}
										if (value.description) {
											$('<li></li>')
												.appendTo(ul)
												.append('<span>Description: </span>' + value.description);
										}
										var site = value.site;
										if (site) {
											if (site.substr(0, 3) != 'http') {
												site = 'http://' + site;
											}
											$('<li></li>')
												.appendTo(ul)
												.append('<span>Site: </span><a href="'+site+'" target="_blank">'
																	+ value.site
																	+ '</a>');
								}
						});/*[-

						   Clone pages                   

						-]*/var pages = $('.pages');
							if(pages){
								pages.clone().insertAfter(list);
							}/*[-*/

							//********     Page Select OnClick funktion       ********

							/*-]*/
										$('.pages a').on('click', function(e) {
										e.preventDefault();
										var attr = $(this).attr('aria-label');
										if(attr){
											if(!$(this).parent().hasClass('disabled')){
												$('.'+className+activeDozen).addClass('dNone');
												if(attr=='Previous'){
													activeDozen--;
												}else{
													activeDozen++;
												}
												$('.'+className+activeDozen).removeClass('dNone');
												if(activeDozen == 1){
													$('.prev').addClass('disabled');
												}else{
													$('.prev').removeClass('disabled');
												}
												if(pages && activeDozen >= Math.ceil(pages/10)){
													$('.nxt').addClass('dNone');
												}else{
													$('.nxt').removeClass('dNone');
												}
											}
										}else{
											page = this.text;
											$('#searchForm').submit();
										}
									});
					}
				}
			}/*[-

			   // Location

-]*/
function locations(solveLocations) {
	if (solveLocations && solveLocations.length > 0) {
		$('#locations')
			.append(
					$('<p></p>').addClass('breaker').text('Select Location')
			).append(
					$('<ul></ul>').attr('id','solveLocations').addClass('c3')
			);
		$.each(solveLocations, function(index, value) {
			$('<li></li>').append(
							'<a href="#">' + value.name + '</a>'
			).appendTo($('#solveLocations'));
		});
		$('#solveLocations a').on('click', function(e) {
			e.preventDefault();
			$('#location').val(this.text);
			$('#searchForm').submit();
		});
	} else
		alert('Impossible to find a location');
	$('#solveLocations a').on('click',
			function(e) {
				e.preventDefault();
				$('#location').val(this.text);
			$('#searchForm').submit();
});
}
	function trim(text) {
		if (text) {
			text = $.trim(text);
		}
		return text;
	}
	$('.brand').on('click', function(){
		location.reload();
	});
	/*]]>*/
	</script>
</html>