<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title th:text="#{login.join_now}">Sing Up</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width" />
<link th:replace="fragments/header :: links" rel="stylesheet" type="text/css" href="../static/css/jk.css" th:href="@{/css/jk.css}" />
</head>
<body>
	<div id="header" th:replace="fragments/header :: pageHeader">Header</div>
	<div id="menuDiv" th:replace="fragments/menu :: menu">Menu</div>
	<div id="signup" class="cntr" th:fragment="signup" th:switch="${#authentication} ? ${#authorization.expression('isAuthenticated()')} : ${false}">
			<div class="thinFilm"></div>
			<h3 th:text="#{login.new}">Join now</h3>
			<div th:case="${false}">
				<form id="signUpForm" th:action="@{/signup}" method="post" th:object="${user}">
					<p th:if="${param.logout}" th:text="#{login.you_have_been_logged_out}">You have been logged out.</p>
					<table class="center">
						<tr  th:if="${#fields.hasErrors('username')}" >
							<td class="error"><span th:errors="*{username}">User name Error</span></td>
						</tr>
						<tr>
							<td>
								<input type="text"
										 id="su_username"
										 name="su_username"
										 th:field="*{username}"
										 th:placeholder="#{login.username}"
										 th:title="#{login.username}"
										 th:errorclass="error"/>
							</td>
						</tr>
						<tr  th:if="${#fields.hasErrors('newPassword')}" >
							<td class="error"><span  th:errors="*{newPassword}">Password Error</span></td>
						</tr>
						<tr>
							<td>
								<input type="password"
										 id="su_password"
										 name="su_password"
										 th:field="*{newPassword}"
										 th:placeholder="#{login.password}"
										 th:title="#{login.password}"
										 th:errorclass="error" />
							</td>
						</tr>
						<tr th:if="${#fields.hasErrors('repassword')}" >
							<td class="error"><span  th:errors="*{repassword}">Confirm password Error</span></td>
						</tr>
						<tr>
							<td>
								<input type="password"
										 id="repassword"
										 name="repassword"
										 th:field="*{repassword}"
										 th:placeholder="#{signup.repassword}"
										 th:title="#{signup.repassword}"
										 th:errorclass="error" />
							</td>
						</tr>
						<tr th:if="${#fields.hasErrors('firstName')}" >
							<td class="error"><span  th:errors="*{firstName}">First name Error</span></td>
						</tr>
						<tr>
							<td>
								<input type="text"
										 id="firstName"
										 name="firstName"
										 th:field="*{firstName}"
										 th:placeholder="#{signup.firstName}"
										 th:title="#{signup.firstName}"
										 th:errorclass="error" />
							</td>
						</tr>
						<tr  th:if="${#fields.hasErrors('lastName')}" >
							<td class="error"><span  th:errors="*{lastName}">Last name Error</span></td>
						</tr>
						<tr>
							<td>
								<input type="text"
										id="lastName"
										name="lastName"
										th:field="*{lastName}"
										th:placeholder="#{signup.lastName}"
										th:title="#{signup.lastName}"
										 th:errorclass="error" />
							</td>
						</tr>
						<tr  th:if="${#fields.hasErrors('eMail')}" >
							<td class="error"><span  th:errors="*{eMail}">email Error</span></td>
						</tr>
						<tr>
							<td>
								<input type="email"
										 id="eMail"
										 name="eMail"
										 th:field="*{eMail}"
										 th:placeholder="#{signup.eMail}"
										 th:title="#{signup.eMail}"
										 th:errorclass="error" />
							</td>
						</tr>
						<tr  th:if="${#fields.hasErrors('professionalSkill')}" >
							<td class="error"><span  th:errors="*{professionalSkill}">professional Error</span></td>
						</tr>
						<tr>
							<td>
								<input type="text"
										 id="professionalSkill"
										 name="professionalSkill"
										 th:field="*{professionalSkill}"
										 th:placeholder="#{signup.professionalSkill}"
										 th:title="#{signup.professionalSkill}"
										 th:errorclass="error" />
							</td>
						</tr>
						<tr  th:if="${#fields.hasErrors('workplace')}" >
							<td class="error"><span  th:errors="*{workplace}">Work place Error</span></td>
						</tr>
						<tr>
							<td>
								<input type="text"
										 id="workplace"
										 name="workplace"
										 th:field="*{workplace}"
										 th:placeholder="#{signup.workplace}"
										 th:title="#{signup.workplace}"
										 th:errorclass="error" />
							</td>
						</tr>
						<tr  th:if="${#fields.hasErrors('birthYear')}" >
							<td class="error"><span  th:errors="*{birthYear}">Birthday Error</span></td>
						</tr>
						<tr>
							<td>
								<span th:text="#{signup.birthday}">signup.birthday</span><span>:</span>
							<th:block  th:fragment="birthday">
								<select th:field="*{birthYear}">
    								<option th:text="#{year}" th:value="null">Select</option>
    								<option th:each="y : ${T(jk.web.user.controllers.SignupController).yearsList}" th:value="${y}" th:text="${y}" />
								</select>
								<select th:field="*{birthMonth}">
    								<option th:text="#{month}" th:value="null">Select</option>
    								<option th:each="n : ${#numbers.sequence(1,12)}" th:value="${n}" th:text="${n}+' - '+#{__('month.'+${n})__}"/>
								</select>
								<select th:field="*{birthDay}">
    								<option th:text="#{day}" th:value="null">Select</option>
    								<option th:each="d : ${#numbers.sequence(1,31)}" th:value="${d}" th:text="${d}"/>
								</select>
							</th:block>
							</td>
						</tr>
						<tr>
							<td>
								<table>
									<tr  th:if="${#fields.hasErrors('sex')}" >
										<td></td>
										<td class="error"><span  th:errors="*{sex}">Sex Error</span></td>
										<td></td>
									</tr>
									<tr>
										<td>
											<select th:field="*{title}">
												<option th:value="null" th:text="#{signup.title}">Select</option>
												<option th:each="t : ${titles}" th:value="${t.id}" th:text="#{__('profile.title'+${t.id})__}" ></option>
											</select>
										</td>
										<td>
											<ul th:class="${#fields.hasErrors('sex')}? error">
												<li th:each="sex : ${T(jk.web.user.User.Gender).values()}" >
													<input type="radio" th:field="*{sex}" th:value="${sex}"/>
													<label th:for="${#ids.prev('sex')}"><span  th:text="#{${sex}}">Gender</span></label>
												</li>
											</ul>
										</td>
										<td>
											<button th:replace="fragments/menu :: jk_button(#{login.join_now}, null, null)">sign Up</button>
										</td>
									</tr>
								</table>
							</td>
						</tr>
					</table>
				</form>
			</div>
			<div class="thinFilm"></div>
	</div>
	<div th:replace="fragments/footer :: footer">Footer</div>
</body>
</html>