<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	lang="en"
	style="background: url(https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-xtp1/v/t1.0-9/s720x720/11110884_514588745348719_1960553605335542264_n.jpg?oh=f7a406a436b1fdcf015adf091d966c48&oe=55E33AF9&__gda__=1437460846_4efa191621d921e751a46f47f9f537be) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;">
<head>
</head>
<body>
</body>
</html>