<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title th:text="#{menu.user}">User</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<link th:replace="fragments/header :: links" rel="stylesheet" type="text/css" href="../static/css/jk.css" th:href="@{/css/jk.css}" />
	<link rel="stylesheet" type="text/css" href="../js/jQuery/jquery-ui.css" th:href="@{/js/jQuery/jquery-ui.css}"></link>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript" th:inline="javascript">

	$(document).ready(function () {
		$("input").keypress(function (event) {
            if((event.keyCode ? event.keyCode : (event.which ? event.which : event.charCode)) == 13){
				document.getElementById('activeButton').click();
				return false;
            }
			return true;
        });
		$("select").on('change', function() {
			document.getElementById('activeButton').click();
		});
		$("#prflH").click(function() {
			$("#prflTbl").slideToggle('slow');
		});
		$("#homeH").click(function() {
			$("#homeTbl").slideToggle('slow');
		});
    });
	</script>
</head>
<body>
<div id="header" th:replace="fragments/header :: pageHeader"><h4>Header</h4></div>
	<div id="menuDiv" th:replace="fragments/menu :: menu">Menu</div>
<div id="contents">
<form id="imgForm" class="fleft borderB" th:action="@{/user_img_frm}" method="post" th:object="${user}">
	<table id="img_tbl">
		<tr>
			<td><img id="user_img" alt="User Image" src="" /></td>
		</tr>
		<tr>
			<td><button type="submit" name="submit_user_img"></button></td>
		</tr>
	</table>
</form>
<form id="userForm" th:action="@{/user}" method="post" th:object="${user}">
	<div class="fleft">
	<table th:replace="fragments/user/profile :: profile"></table>
	<table th:replace="fragments/user/home_address :: home"></table>
	</div>
</form>
</div>
<div th:replace="fragments/footer :: footer">Footer</div>
</body>
</html>