<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	lang="en">
<head>
<meta charset="UTF-8" />
<title>FashionProFinder</title>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
<link rel="stylesheet" href="../static/css/general_tmp.css" />
<link rel="stylesheet" href="../static/css/forms.css" />
<link rel="stylesheet" href="../static/css/normalize.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
</head>
<!--
comments: 
IE 11
-->
<body>
<th:block th:fragment="sign_up_forms"><!-- 

	CONTACT US

 -->
	<div class="panel panel-default" th:fragment="contact_us">
		<div class="panel-heading">
			<h2 th:text="${contact_us}">Contact Us</h2>
		</div>
		<div class="panel-body">
		<form action="/contact_us" method="post" th:object="${contactUsForm}"><!--/*

		reference number

		*/--><div class="form-group" th:with="err=${#fields.hasErrors('referenceNumber')}" th:classappend="${err ? 'has-error' : null}">
				<label class="control-label" for="referenceNumber">Ad Reference Number: <span th:if="${err}" th:errors="*{referenceNumber}">ReferenceNumber Error</span></label>
				<input type="text" class="form-control" required="required" th:field="*{referenceNumber}"/>
			</div><!--/* max length(45) from database 

		*/--><div class="form-group" th:with="err=${#fields.hasErrors('name')}" th:classappend="${err ? 'has-error' : null}">
				<label class="control-label" for="name">Your Name: <span th:if="${err}" th:errors="*{name}">Name Error</span></label>
				<input type="text" class="form-control" required="required" th:field="*{name}"/>
			</div><!--/* max length(245) from database 

		*/--><div class="form-group" th:with="err=${#fields.hasErrors('email')}" th:classappend="${err ? 'has-error' : null}">
				<label class="control-label" for="email">Email Address: <span th:if="${err}" th:errors="*{email}">Email Error</span></label>
				<input type="email" class="form-control" required="required" th:field="*{email}"/>
			</div><!--/* max length (254) http://en.wikipedia.org/wiki/Email_address

		*/--><div class="form-group" th:with="err=${#fields.hasErrors('subject')}" th:classappend="${err ? 'has-error' : null}">
				<label class="control-label" for="subject">Subject: <span th:if="${err}" th:errors="*{subject}">Subject Error</span></label>
				<input type="text" class="form-control" required="required" th:field="*{subject}"/>
			</div><!--/* max length(145) from database 

		*/--><div class="form-group" th:with="err=${#fields.hasErrors('message')}" th:classappend="${err ? 'has-error' : null}">
				<label class="control-label" for="message">Message: <span th:if="${err}" th:errors="*{message}">Message Error</span></label>
				<textarea required="required" class="form-control" th:field="*{message}"></textarea>
			</div><!--/* max length(1000) from database

		*/--><button name="contactUs" class="submit form-control btn btn-info" type="submit">Send</button>
		</form>
		</div>
	</div><!--/* end contact us 


	ADD SITE	

*/--><div class="panel panel-default" th:fragment="add-site">
		<div class="panel-heading">
			<h4>Please complete the form below to add your site.</h4>
		</div>
		<div class="panel-body">
		<form action="/add-site" method="post" th:object="${addSiteForm}"><!--/*

	Site address

		*/--><div class="form-group" th:with="err=${#fields.hasErrors('siteAddress')}" th:classappend="${err ? 'has-error' : null}">
				<label>Site Address: <span th:if="${err}" th:errors="*{siteAddress}">siteAddress Error</span></label>
				<input type="url" class="form-control" required="required" th:field="*{siteAddress}"/>
			</div><!--/*

	Main Country Of Activity

		*/--><div class="form-group" th:with="err=${#fields.hasErrors('mainCountry')}" th:classappend="${err ? 'has-error' : null}">
			<label for="mainCountry">Main Country Of Activity: <span th:if="${err}" th:errors="*{mainCountry}">mainCountry Error</span></label>
				<select class="form-control" th:field="*{mainCountry}" required="required"><option th:each="c:${all_countries}" th:value="${c.countryCode}" th:text="${new java.util.Locale('', c.countryCode).displayCountry}" th:fragment="countries">Country</option></select>
			</div>
			<h3>Personal Data</h3><!--/*

	Personal Data

		*/--><div class="form-group" th:with="err=${#fields.hasErrors('firstName')}" th:classappend="${err ? 'has-error' : null}">
				<label for="firstName">First Name: <span th:if="${err}" th:errors="*{firstName}">firstName Error</span></label>
				<input type="text" class="form-control" required="required" th:field="*{firstName}"/>
			</div>
			<div class="form-group" th:with="err=${#fields.hasErrors('lastName')}" th:classappend="${err ? 'has-error' : null}">
				<label for="lastName">Last Name: <span th:if="${err}" th:errors="*{lastName}">lastName Error</span></label>
				<input type="text" class="form-control" required="required" th:field="*{lastName}"/>
			</div>
			<div class="form-group" th:with="err=${#fields.hasErrors('post')}" th:classappend="${err ? 'has-error' : null}">
				<label for="post">Post: <span th:if="${err}" th:errors="*{post}">post Error</span></label>
				<input type="text" class="form-control" required="required" th:field="*{post}"/>
			</div>
			<div class="form-group" th:with="err=${#fields.hasErrors('email')}" th:classappend="${err ? 'has-error' : null}">
				<label for="email">Email</label>
				<input type="email" class="form-control" required="required" th:field="*{email}"/>
			</div>
			<h3>Your Business</h3>
			<div class="form-group" th:with="err=${#fields.hasErrors('companyName')}" th:classappend="${err ? 'has-error' : null}">
				<label for="companyName">Company Name:</label>
				<input type="text" class="form-control" required="required" th:field="*{companyName}"/>
			</div>
			<div class="form-group" th:with="err=${#fields.hasErrors('address')}" th:classappend="${err ? 'has-error' : null}">
				<label for="address">Address</label>
				<input type="text" class="form-control" required="required" th:field="*{address}"/>
			</div>
			<div class="form-group" th:with="err=${#fields.hasErrors('city')}" th:classappend="${err ? 'has-error' : null}">
				<label for="city">City</label>
				<input type="text" class="form-control" required="required" th:field="*{city}"/>
			</div>
			<div class="form-group" th:with="err=${#fields.hasErrors('postalCode')}" th:classappend="${err ? 'has-error' : null}">
				<label for="postalCode">Postal Code</label>
				<input type="text" class="form-control" required="required" th:field="*{postalCode}"/>
			</div>
			<div class="form-group" th:with="err=${#fields.hasErrors('provinceState')}" th:classappend="${err ? 'has-error' : null}">
				<label for="provinceState">Province/State</label>
				<input type="text" class="form-control" required="required" th:field="*{provinceState}"/>
			</div>
			<div class="form-group" th:with="err=${#fields.hasErrors('country')}" th:classappend="${err ? 'has-error' : null}">
				<label for="country">Country</label>
			</div>
			<div class="form-group" th:with="err=${#fields.hasErrors('vatNumber')}" th:classappend="${err ? 'has-error' : null}">
				<label for="vatNumber">VAT Number</label>
				<input type="text" class="form-control" required="required" th:field="*{vatNumber}"/>
			</div>
			<div class="form-group" th:with="err=${#fields.hasErrors('phone')}" th:classappend="${err ? 'has-error' : null}">
				<label for="phone">Phone</label>
				<input type="text" class="form-control" required="required" th:field="*{phone}"/>
			</div>

			<button type="submit" name="addSite" class="submit form-control btn btn-info">submit</button>
		</form>
		</div>
	</div><!--/* end add site forms */-->
</th:block>
</body>
</html>