<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title>Strip Image Gallery</title>
	<link th:replace="fragments/header :: links" rel="stylesheet" type="text/css" href="../../static/css/jk.css" th:href="@{/css/jk.css}" />
	<link rel="stylesheet" type="text/css" href="../../static/css/strip.css"></link>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="../../static/js/strip.pkgd.min.js"></script>
	<link rel="stylesheet" type="text/css" href="../../static/js/slick/slick.css" th:href="@{/js/slick/slick.css}"></link>
	<script type="text/javascript" src="../../static/js/slick/slick.min.js" th:src="@{/js/slick/slick.min.js}"></script>

		<script type="text/javascript">
			$(document).ready(
				function() {
						$('.thumbs_gallery').slick({
							  centerMode: true,
							  slidesToScroll: 1,
							  autoplay: true,
							  autoplaySpeed: 2000,
							  variableWidth: true
						});
				});
		</script>
	
</head>
<body>
	<div class="thumbs_gallery" th:fragment="carousel">
		<div th:each="img : ${images}">
			<a href="C:/jk/images/1/large/2.png"
				th:href="${#strings.replace(img,'small','large')}"
				class="strip thumbnail thumbnail-landscape"
				data-strip-options="side:'right'"
				data-strip-group="group">
					<img src="C:/jk/images/1/small/2.png"
						th:src="${img}"
						alt="1st image description" />
			</a>
		</div>
	</div>
		<div>
			<a href="C:/jk/images/1/large/3.png"
				class="strip thumbnail thumbnail-landscape"
				data-strip-options="side:'right'"
				data-strip-group="group">
					<img src="C:/jk/images/1/small/3.png" alt="2nd image description" />
			</a>
		</div>
		<div>
			<a href="C:/jk/images/1/large/4.png"
				class="strip thumbnail thumbnail-landscape"
				data-strip-options="side:'right'"
				data-strip-group="group">
					<img src="C:/jk/images/1/small/4.png" alt="3rd image description" />
			</a>
		</div>
		<div>
			<a href="C:/jk/images/1/large/5.png"
				class="strip"
				data-strip-options="side:'right'"
				data-strip-group="group">
					<img src="C:/jk/images/1/small/5.png" alt="4th image description" />
			</a>
		</div>
		<div>
			<a href="C:/jk/images/1/large/6.png"
				class="strip"
				data-strip-options="side:'right'"
				data-strip-group="group">
					<img src="C:/jk/images/1/small/6.png" alt="5th image description" />
			</a>
		</div>
</body>
</html>