<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title></title>
</head>
<body style="margin:auto;font-family:'Times New Roman',Times,serif;width:80%;min-width:15em;">
	<div style="background-color:#5C514D;padding:.1em;border-top:6px solid black;border-bottom:6px solid black;box-shadow: 5px 8px 5px #888888;text-shadow: -2px 3px 0 black;">
		<h1 style="color:white;text-align:center;margin:0;padding:0;">Fashion Pro Finder</h1>
		<p style="color:white;text-align:center;margin:0;padding:0;">Справочник</p>
	</div>
	<H2>Здравствуйте, {0}</h2>
	<p>Недавно вы отправили запрос на смену вашего пароля на Fashion Pro Finder</p>
	<p>Ваше имя пользователя: {1}</p>
	<p>Ваш электронный адрес: {2}</p>
	<p>Для завершения данного процесса, пожалуйста, перейдите по этой ссылке:  <br/> {3}</p>
	<p>Пожалуйста, обратите внимание: для защиты вашего аккаунта, данное сообщение было отправлено на все адреса электронной почты, связанные с вашим аккаунтом на  Fashion PRO Finder</p>
	<p>Если Вы считаете, что данное сообщение послано Вам ошибочно, просто проигнорируйте его и все данные будут автоматически удалены.</p>
	<p>Однако если вы беспокоитесь о безопасности вашего аккаунта, свяжитесь с нами</p>
	<p style="color:#9e7c7c;">спасибо,  <br/>Обслуживание клиента Fashion Pro Finder <br/> http://fashionprofinder.qc.to/help</p>
	<hr style="color:black;background-color:black;height: 5px;"/>
	<small>
		<a>Изменить настройки уведомлений </a> | <a>Политика конфиденциальности </a> | <a>Связаться со службой поддержки</a>
		<p>TЭто письмо было отправлено на [Email]. Вы получили это сообщение, потому что учётная запись создана на Fashion ProFinder  с этим электронным адресом .</p>
		<p>Это письмо было отправлено от Fashion Pro Finder<br/>Монреаль, Квебек, Канада</p>
	</small>	
</body>
</html>
