<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title></title>
</head>
<body style="margin:auto;text-align:center;font-family:'Times New Roman',Times,serif;width:80%;min-width:15em;">
	<h1 style="background-color:#5C514D;padding:.5em;border-top:10px solid black;border-bottom:10px solid black;box-shadow: 5px 8px 5px #888888;text-shadow: -2px 3px 0 black;">
		<a href="{3}" style="cursor:pointer;color:gray;font-size: 120%;text-decoration:none">Fashion Pro Finder</a>
	</h1>
	<H2>Hi {0},</h2>
	<p>to the Fashion Pro Finder community! We're thrilled to have you on board.</p>
	<p>next step is to verify your email address.</p>
	<div style="display:inline-block;">
		<div style="height:10px;background-size:10px;background-image:url('http://fashionprofinder.qc.to/images/join_now.png');"></div>
		<a style="color:white;background-color:#5C514D;display:inline-block;padding:10px;cursor:pointer">Verify your email address</a>
		<div style="height:10px;background-size:10px;background-image:url('http://fashionprofinder.qc.to/images/join_now.png');"></div>
	</div>
	<p>P.S. If you have problems verifying your email, please paste this URL into your web browser:<br/> {1}</p>
	<p>Need Assistance? contact us</p>
	<hr style="color:#9e7c7c;background-color:#9e7c7c;border-color:#9e7c7c"/>
	<p style="color:#9e7c7c;">This email was sent by error?<br/>Ignore it and erase it</p>
	<p style="background-color:#9e7c7c">If however, you are worried about the security of your account, contact us</p>
	<hr style="color:black;background-color:black;height: 5px;"/>
	<small>
		<a>Change notification settings</a> | <a>Privacy Policy</a> | <a>Contact Support</a>
		<p>This email was sent to  [email]. You receive this message because an account was created on Fashion Pro Finder whit that email.</p>
		<p>This email was sent from Fashion PRO Finder<br/>Montreal, Quebec, Canada</p>
	</small>	
</body>
</html>
