<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title></title>
</head>
<body style="margin:auto;font-family:'Times New Roman',Times,serif;width:80%;min-width:15em;">
	<div style="background-color:#5C514D;padding:.1em;border-top:6px solid black;border-bottom:6px solid black;box-shadow: 5px 8px 5px #888888;text-shadow: -2px 3px 0 black;">
		<h1 style="color:white;text-align:center;margin:0;padding:0;">Fashion Pro Finder</h1>
		<p style="color:white;text-align:center;margin:0;padding:0;">PhoneBook</p>
	</div>
	<H2>Dear  {0},</h2>
	<p>We've received your e-mail requesting to reset password for Fashion Pro Finder.</p>
	<p>In the event that another person sent this request to us, </p>
	<p>or if you've now remembered your password and no longer wish to change it, </p>
	<p>you can simply ignore this message, and continue to use your old password.</p>
	<p>Your username: {1}</p>
	<p>Your e-mail address: {2}</p>
	<p>If you would like to reset your password, please click on this link: <br/> {3}</p>
	<p>If you're unable to click on the link, you can also copy the URL and paste it into your browser manually.</p>
	<p>Follow the instructions on the page to change your password.</p>
	<p>If you have not asked to change your password or if you have other questions or problems, please contact customer service.</p>
	<p style="color:#9e7c7c;">Thank you,<br/>FPROF Customer Service <br/> http://fashionprofinder.qc.to/help</p>
	<hr style="color:black;background-color:black;height: 5px;"/>
	<small>
		<a>Change notification settings</a> | <a>Privacy Policy</a> | <a>Contact Support</a>
		<p>This email was sent to  [email]. You receive this message because an account was created on Fashion Pro Finder whit that email.</p>
		<p>This email was sent from Fashion PRO Finder<br/>Montreal, Quebec, Canada</p>
	</small>	
</body>
</html>
