<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
  <head>
	<title>Home Localisation</title>
	<link rel="stylesheet" type="text/css" href="../../../static/css/jk.css" th:href="@{/css/jk.css}"></link>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$("#lclstnH").click(function() {
				$("#lclstnTbls").toggle(500);
			});
			$("#homeH").click(function() {
				$("#homeTbl").toggle(500);
			});
		});
</script>
</head>
  <body>

	<div class="bttm5 bclr wth40" th:fragment="localisation">
		<div class="btnBrdr"></div>
    	<h2 id="lclstnH" th:text="#{localisation}" class="cntr pntr">Profile</h2>
    	<div id="lclstnTbls" th:class="${homeAddress.showAddress}==false ? 'dn'">
 			<div th:replace="fragments/user/address :: address(${homeAddress})"></div>
 		</div>
		<div class="btnBrdr"></div>
 	</div>

    <div id="homeLclstn" class="bttm5 wth100" th:fragment="address(addr)">
 		<div class="btnBrdr"></div>
    	<h2 id="homeH" th:text="#{__'address.'+${addr.title}__}" class="cntr pntr clrY">Title</h2>
  		<div id="homeTbl"  th:class="${addr.showAddress}==false ? 'dn'">
   			<form action="user" th:action="@{/user}" method="post">
			<table class="wth100 th_right">
				<tr>
					<td class="w5">
						<button type="submit"
							name="${addr.buttonName}"
							th:id="${addr.editAddress ? 'activeButton'}"
							th:text="${addr.editAddress ? #{user.save} : #{user.edit}"
							th:replace="fragments/menu :: jk_button(${addr.editAddress} ? #{user.save} : #{user.edit}, ${addr.editAddress ? 'activeButton' : null}, ${addr.buttonName})">Edit</button></td>
					<th class="w10" th:text="#{address.address}">Address</th>
					<td class="w13" th:switch="${addr.editAddress}">
						<input th:case="${true}" type="text" th:field="${address.address}" th:value="${addr.address}" autofocus="autofocus"/>
						<p th:case="*" th:text="${addr.address}" class="clrY">Address</p>
					</td>
       				<td><p class="error" th:if="${addr.addressError}!=null" th:text="#{__${addr.addressError}__}">Address error</p></td>
				</tr>
				<tr>
					<td></td>
					<th th:text="#{address.city}">City</th>
					<td th:switch="${addr.editAddress}">
				<input th:case="${true}" type="text" th:field="${address.city}" th:value="${addr.city}"/>
				<p th:case="*" th:text="${addr.city}" class="clrY">City</p>
			</td>
       		<td><p class="error" th:if="${addr.cityError}!=null" th:text="#{__${addr.cityError}__}">City error</p></td>
		</tr>
		<tr th:if="${addr.regionName}!=null">
			<td></td>
			<th th:text="#{__${addr.regionName}__}">Region</th>
			<td th:switch="${addr.editAddress}">
				<select th:case="${true}" th:field="${address.regionCode}">
					<option th:value="null" th:text="#{Select}">Select</option>
					<option th:each="region : ${addr.regions}" th:value="${region.id}" th:text="#{__(${addr.region.countryCode}+'.'+${region.id})__}" />
				</select>
				<p th:case="*" th:text="#{__(${addr.countryCode}+'.'+${addr.regionCode})__}" class="clrY">Region</p>
			</td>
      		<td><p class="error" th:if="${addr.regionCodeError}!=null" th:text="#{__${addr.regionCodeError}__}">Region error</p></td>
		</tr>
		<tr>
			<td></td>
			<th th:text="#{address.country}">Country</th>
			<td th:switch="${addr.editAddress}">
				<select th:case="${true}" th:field="${address.countryCode}">
					<option th:value="null" th:text="#{Select}">Select</option>
					<option th:each="c : ${addressWorker.countries}" th:value="${c.value}" th:text="#{__${c.value}__}" th:attr="disabled=${c.disabled ? 'disabled' : null}"></option>
				</select>
				<p th:case="*" th:text="${addr.countryCode!=null} ? #{__${addr.countryCode}__} : null" class="clrY">Country</p>
			</td>
       		<td><p class="error" th:if="${addr.countryCodeError}" th:text="#{__${addr.countryCodeError}__}">Country error</p></td>
		</tr>
		<tr>
			<td></td>
			<th th:text="#{user.postal_code}">City</th>
			<td th:switch="${addr.editAddress}">
				<input th:case="${true}" type="text" th:field="${address.postalCode}" th:value="${addr.postalCode}"/>
				<p th:case="*" th:text="${addr.postalCode}" class="clrY">Postal code</p>
			</td>
       		<td><p class="error" th:if="${addr.postalCode}!=null" th:text="${addr.postalCode}">Postal code error</p></td>
		</tr>
		<tr>
			<td colspan="4" class="cntr "><img th:if="${addr.mapPath}!=null" alt="Map" th:src="${addr.mapPath}" /></td>
		</tr>
	</table>
	</form>
	</div>
	
	<div class="btnBrdr"></div>
    </div>

  </body>
</html>