<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <title th:remove="all">Template for sign up confirmation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
<div style="margin:auto;text-align:center;font-family:'Times New Roman',Times,serif;width:80%;min-width:15em;">
	<div style="background-color:#5C514D;padding:.1em;border-top:6px solid black;border-bottom:6px solid black;box-shadow: 5px 8px 5px #888888;text-shadow: -2px 3px 0 black;">
		<h1 style="color:white;margin:0;padding:0;">Fashion Pro Finder</h1>
		<p style="color:white;margin:0;padding:0;" th:text="#{EMailWorker.signup.email.title}">PhoneBook</p>
	</div>
	<h2 th:text="#{EMailWorker.signup.email.hi_name(${firstName})}">Hi Jenia,</h2>
	<p th:text="#{EMailWorker.signup.email.welcom}">Welcome to the Fashion Pro Finder community! We're thrilled to have you on board.</p>
	<p th:text="EMailWorker.signup.email.next_step">Your next step is to verify your email address.</p>
	<div style="display:inline-block;">
		<div style="background-size:10px;height:10px;" th:styleappend="'background:url(\''+ @{http://fashionprofinder.qc.to/images/join_now.png}+'\');'"></div>
		<a style="color:white;background-color:#5C514D;display:inline-block;padding:10px;cursor:pointer" th:href="${href}" th:text="#{EMailWorker.signup.email.verify}">Verify your email address</a>
		<div style="height:10px;background-size:10px;" th:style="'background:url(\''+ @{http://fashionprofinder.qc.to/images/join_now.png}+'\');'"></div>
	</div>
	<p th:text="#{EMailWorker.signup.email.confirmation_required}">Confirmation is required to avoid unauthorized use of your e-mail address.</p>
	<p><span th:text="#{EMailWorker.signup.email.if_problems}">P.S. If you have problems verifying your email, please paste this URL into your web browser:</span><br/>
		<span th:text="${href}">httr://fa.gsg.com</span></p>
	<p><span th:text="EMailWorker.signup.email.need_assistance">Need Assistance?</span><a th:text="#{EMailWorker.signup.email.contact_us_2}"> contact us</a></p>
	<hr style="color:#9e7c7c;background-color:#9e7c7c;border-color:#9e7c7c"/>
	<p style="color:#9e7c7c;" th:utext="#{EMailWorker.signup.email.error}">This email was sent by error?<br/>Ignore it and erase it</p>
	<p style="background-color:#9e7c7c"><span text="EMailWorker.signup.email.security_worry">If however, you are worried about the security of your account,</span><a th:text="#{EMailWorker.signup.email.contact_us}"> contact us</a></p>
	<hr style="color:black;background-color:black;height: 5px;"/>
	<div class="fs60p">
		<a style="color:white;" th:text="#{EMailWorker.signup.email.change_notification_settings}">Change notification settings</a> |
		<a style="color:white;" th:text="#{EMailWorker.signup.email.privacy_policy}">Privacy Policy</a> |
		<a style="color:white;" th:text="#{EMailWorker.signup.email.contact_support}">Contact Support</a>
		<p style="color:white;" th:text="#{EMailWorker.signup.email.sent_to}">This email was sent to  [email]. You receive this message because an account was created on Fashion Pro Finder whit that email.</p>
		<p style="color:white;" th:utext="#{EMailWorker.signup.email.sent_from}">This email was sent from Fashion PRO Finder<br/>Montreal, Quebec, Canada</p>
	</div>	
</div>
</body>
</html>
