/*
Natue Wallpapers
http://www.daswallpaper.de/nature-wallpaper
*/
@font-face {
	font-family: 'DUBIEL';
	src: url('/fonts/DUBIEL.eot'); /* IE9 Compat Modes */
	src: url('/fonts/DUBIEL.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */
       url('/fonts/DUBIEL.woff') format('woff'), /* Modern Browsers */
       url('/fonts/DUBIEL.TTF') format('truetype'),
		/* Safari, Android, iOS */
       url('/fonts/DUBIEL.svg#svgFontName') format('svg');
	/* Legacy iOS */
}
body{
	margin-bottom: 55px;
	background:url('https://scontent-lga.xx.fbcdn.net/hphotos-xpa1/v/t1.0-9/s720x720/18293_514588762015384_7037405496006114391_n.jpg?oh=0f86b62797ab3a957145e6ddcda2f8b3&oe=55A1676C') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.brand{
	font-family: "DUBIEL", Arial, Helvetica, sans-serif;
}
#brand:not(.text-muted){
	color: white;
}
.cw{
	color: white;
}
.cw a:not(.empty){
	color: white;
}
a.empty {
	cursor: default;
	text-decoration: none;
}
.top-buffer{
	margin-top:5%;
}
.bg-abc{
	background-color: rgba(0, 0, 0, 0.5);
	padding: 4px;
}
.bg-wt{
	background-color: rgba(255, 255, 255, 0.95);
}
.m0{
	margin: 0;
}
.mt8{
	margin: 8px 0 0 0;
}
ul{
	list-style-type: none;
	padding-left: 5px;
}
#categoriesList[aria-expanded="false"] ul.c3, .c3 {
	-moz-column-count: 3;
	-moz-column-gap: 20px;
	-webkit-column-count: 3;
	-webkit-column-gap: 20px;
	column-count: 3;
	column-gap: 20px;
}
.dNone{
	display: none !important;
}