@CHARSET "UTF-8";
 
 body {	width: 65em;
		margin: auto;
		padding: 0;
		border-width: 0;
		font-size: 1em;
		font-family:"Times New Roman", Times, serif;
		background-color: #5A5A5A;
		color: white;
}

form, div, ul, li, a, p, h1, h2, h6, button.jk{
		margin: 0;
		padding: 0;
		border-width: 0;
}
a {
	color: white;
	text-decoration: none;
}
table{
	border-collapse: collapse;
}
table.center{
		margin: auto;
}
input, button, label{
	margin: .1em;
}
#contentsFirst {
	background-color: #666666;
}
#contents{
	background-color: #666666;
}
#contents, #contentsFirst {
	padding-right: .5em;
}
table .error{
	padding-left: .5em;
}
table td input[type="text"], table td input[type="password"], table td input[type="email"]{
	width: 99%;
}
#tables, button.jk, #contents a, #contentsFirst a{
	color:white;
}
#contents h3{
	margin-top: .5em;
	margin-bottom: 0;
}
#tables form, .m05{
	margin: .5em;
}
#login, #signup{
	margin-top: .5em;
	margin-bottom: .5em;
	background-color: #5C514D;
	border: 1px solid black;
}
.bclr{
	background-color: #5C514D;
}
.clrY{
	color: yellow;
}
button, checkbox, label, input[type=file], .pntr{
	cursor: pointer;
}

#header {
	color: white;
	padding: .5em;
	background-color: #99999;
    background-image: linear-gradient(#999, #5D5D5D);
}
#header form{
	margin-top: .5em;
}
.contents{
	padding: .5em;
}
.inline{
	display: inline;
}
.bttnDiv, #userForm ul li, .inlineB{
	display: inline-block;
}
#tables .bttnDiv{
	width: 6em;
}
.rght{
	text-align: right;
	padding-right: .5em;
}
.lft{
	text-align: left;
}
#loginDiv {	display: block;
     		border-radius: 25px;
			border:  1px solid;
     		box-shadow: 10px 10px 5px #888888;
     		float: right;
     		max-width: 11em;
     		max-height: 3em;
     		position:relative;
		    overflow: hidden;
}

#loginDiv #login {	zoom: 55%;
					scale(0.55);
					-ms-zoom: 0.55;
					-webkit-zoom: 0.55;
					-moz-transform:  scale(0.55,0.55);
					-moz-transform-origin: left top;
					-o-transform: scale(0.55);
					-o-transform-origin: left top;
}

#header:AFTER, #contents:AFTER, #contentsFirst:AFTER, .clear:AFTER {	
					content: ".";
    				display: block;
					height: 0;
					clear: both;
					visibility: hidden;
}

/* Menu */
#menu{
    width: 100%;
    margin: 0;
}
#menu ul, #tables ul, #bttns ul, #langDiv ul{
    list-style: none;
}
#menu ul{
    background-color: #5C514D;
    background: -webkit-linear-gradient(#444, #5C514D,#5C514D,#5C514D, #444); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#444, #5C514D, #5C514D, #5C514D, #444); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#444, #5C514D, #5C514D, #5C514D, #444); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#444, #5C514D, #5C514D, #5C514D, #5C514D, #444); /* Standard syntax (must be last) */
}
#menu ul li , #tables ul li, #langDiv ul li{
    position: relative;
    display: inline;
}
 #langDiv ul li{
    padding: 0 0 .5em 0;
}
/* Clear floated elements */
#menu ul:after, #langDiv  ul:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
#menu ul a, #menu ul p, #menu ul div, #langDiv ul a {
	display: inline;
    height: 1.5em;
    padding: 0 1.5em;
    color: #999;
    text-transform: uppercase;
    font: bold 12px/25px Arial, Helvetica;
    text-decoration: none;
    text-shadow: 0 1px 0 #000;
}

#menu ul li:hover > a, #menu ul li:hover > p, #langDiv ul li:hover > a {
    color: #fafafa;
}

*html #menu ul li a:hover, *html #menu ul li p:hover , *html #langDiv ul li a:hover { /* IE6 */
    color: #fafafa;
}

#menu ul li:hover > ul, #langDiv ul li:hover > ul {
    display: block;
}

/* Sub-menu */
#menu ul ul{
    left: 0;
    right: auto;
}
#langDiv ul ul, #menu ul #languageMenu ul {
	left: auto;
    right: 0;
}
#menu ul ul, #langDiv ul ul {
	list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    top: 1.5em;
    z-index: 99999;
    background-color: #444;
    background-image: linear-gradient(#444, #111);
    -moz-border-radius: .3em;
    border-radius: .3em;
}

#menu ul ul li, #langDiv ul ul li {
    float: none;
    margin: 0;
    padding: 0;
    display: block;
    box-shadow: 0 1px 0 #111111,
                0 2px 0 #777777;
}

#menu ul ul li:last-child, #langDiv ul ul li:last-child  { 
    box-shadow: none;    
}

#menu ul ul a, #langDiv ul ul a{    
    padding: 10px;
    height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}
*html #menu ul ul a, *html #langDiv ul ul a { /* IE6 */   
    height: 10px;
    width: 150px;
}

*:first-child+html #menu ul ul a, *:first-child+html #langDiv ul ul a { /* IE7 */    
    height: 10px;
    width: 150px;
}

#menu ul ul a:hover, #langDiv ul ul a:hover {
    background-color: #0186ba;
    background-image: linear-gradient(#04acec, #0186ba);
}

#menu ul ul li:first-child a, #langDiv ul ul li:first-child a  {
    border-radius: 5px 5px 0 0;
}

#menu ul ul li:first-child a:after{
    left: 30px;
    right: auto;
}
#menu ul #languageMenu ul li:first-child a:after,  #langDiv ul #languageMenu ul li:first-child a:after{
	left: auto;
    right: 30px;
}
#menu ul ul li:first-child a:after, #langDiv ul ul li:first-child a:after {
	content: '';
    position: absolute;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #444;
}

#menu ul ul li:first-child a:hover:after, #langDiv ul ul li:first-child a:hover:after {
    border-bottom-color: #04acec; 
}

#menu ul ul li:last-child a, #langDiv ul ul li:last-child a {
    border-radius: 0 0 5px 5px;
}

* html #menu             { zoom: 1; } /* IE6 */
*:first-child+html #menu { zoom: 1; } /* IE7 */

.error {
	color: red;
}
.error span, p.error{
	background-color: #faf1ee;
}
input.error::-webkit-input-placeholder {
	color: red;
}
input.error::-moz-placeholder {
	color: red;
}
input.error:-moz-placeholder {
	color: red;
}
input.error:-ms-input-placeholder {
	color: red;
}
input.error{
	border-color: red;
}
input:focus{
	border-color: yellow;
	background-color: #ffffe3;
}
ul.error{
	border: 1px solid red;
}
td.error, p.error{
	font-size: 75%;
}
.fleft{
	float: left;
}
.fright{
	float: right;
}
.asLink{
    background:none;
     border:none; 
     padding:0;
     outline-color: transparent;
}
.cntr, td.error{
	text-align: center;
}
#footer{
	border-top: thick solid #444;
	border-top-width: 1px;
}
.smal{
	font-size: small;
}
.thinFilm, .bttnBrdr, .menuBrdr{
	width: 100%;
	background-image: url('/images/join_now.png');
}
.menuBrdr{
	height: .5em;
	background-size: .5em;
}
.bttnBrdr{
	height: .3em;
	background-size: .3em;
}
.thinFilm{
	height: .7em;
	background-size: .7em;
	background-color: white;
}
button.jk{
	text-align: center;
	width: 100%;
	background-color: #5C514D;
}
#tables{
	min-width: 22em;
	margin: .5em;
	padding: 0 .5em 0 .5em;
}
#tables table{
	width: 100%;
	border: 1px solid blck;
}
#bttns{
	width: 100%;
    background-color:#666666;
    text-align: center;
}#bttns ul li{
	margin: 5%;
	width: 18%;
	display: inline-block;
    background-color:#5C514D;
}
##socialBttns, .bttm5{
	margin-bottom: .5em;
}
#imgForm{
	margin: .5em;
}
#imgForm img{
	height: 10em;
	width: 10em;
}
.borderB{
	border: 1px solid black;
}
.m05{
	margin: .5em;
}
.m1{
	margin: 1em;
}
.mt1{
	margin-top: 1em;
}
.mt2{
	margin-top: 2em;
}
.mb2{
	margin-bottom: 2em;
}
.p05{
	padding: .5em;
}
.p1{
	padding: 1em;
}
.p3{
	padding: 3em;
}
.w5{
 width: 5em;
 }
.w10{
 width: 10em;
 }
.w15{
 width: 15em;
 }
.w16{
 width: 16em;
 }
.w40{
 	width: 40em;
 }
.w10p{
 width: 10%;
}
.w15p{
 width: 15%;
}
.w19p{
 width: 19%;
}
.w20p{
 width: 20%;
}
.w30p{
 	width: 30%;
 }
.w49p{
 width: 49%;
}
.w50p{
 width: 50%;
}
.w60p{
 width: 60%;
}
.w70p{
 	width: 70%;
}
.w80p{
 	width: 80%;
}
#userForm .bttnDiv, .w100p{
	width: 100%;
}
.mAuto{
	margin: auto;
}
 .borderBB{
 	border-bottom: 1px solid #867771;
 }
 .borderTB{
 	border-top: 1px solid #867771;
 }
 .borderRB{
 	border-right: 1px solid #867771;
 }
 .borderBD{
 	border-bottom: 1px dashed rgba(255, 255, 255, 0.5);
 }
 .borderRD{
 	border-right: 1px dashed rgba(255, 255, 255, 0.5);
 }
 .zi10{
 	position: relative;
 	z-index: 10;
 }
 caption {
	font-size: 150%;
	font-weight: bold;
	margin-top: .5em;
}
.dn{
	display: none;
}
.text p{
	text-align: left;
	text-indent: 1em;
	margin-top: .5em;
}
bb{
	border-bottom: 1 solid black;
}
.fs60p{
	font-size:60%;
}
div.fileinput{
	position: relative;
	display: inline-block;
}
div.fileinput label{
	z-index: 1;
}
div.fileinput input[type=file]{
	position: absolute;
	top: 0px;
	left: 0px;
	opacity: 0;
	-moz-opacity:0 ;
	filter:alpha(opacity: 0);
	z-index: 2;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}
.bttn{
	color: white;
	display: inline-block;
	margin: .2em;
	padding: .4em;
	background-color: #5C514D;
	border: 0;
}
div.fileinput input[type=file]:HOVER + label, .bttn:HOVER {
	color: yellow;
}
.bttn:DISABLED{
	background-color: transparent;
	color: gray;
	cursor: default;
}