<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	lang="en">
<head>
<meta charset="UTF-8"/>
<title>Categories</title>
<th:block th:replace="search :: headContent">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
<link rel="stylesheet" href="../../static/css/general_static.css" th:href="@{/css/general.css}" />
<link rel="stylesheet" href="../../static/css/normalize.css" th:href="@{/css/normalize.css}" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</th:block>
<script src="../static/js/jquery-ui.min.js" th:src="@{/js/jquery-ui.min.js}"></script>
	<link rel="stylesheet" href="../static/css/jquery-ui.css" th:href="@{/css/jquery-ui.css}"/>
	<script>
	$(function(){
		$('#search').autocomplete({ source: '/autocomplete/search/categories' });
	});
	</script>
</head>
<body th:with="searchFormPath=${'/management/search/categories'}, managementMenu=${true}, menuSelection=${T(jk.web.controllers.user.FormsController.MenuSelection).MANAGEMENT_EDIT_CATEGORIES}"><!--/*

	Message

*/--><div	th:if="${searchCategoryView.msgStatus!=null}"
			class="alert alert-dismissible"
			th:classappend="${searchCategoryView.msgStatus==T(org.apache.logging.log4j.Level).ERROR ? 'alert-danger' :
							searchCategoryView.msgStatus==T(org.apache.logging.log4j.Level).WARN ? 'alert-warning' :
							'alert-success'}"
			role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		<span class="sr-only">Error:</span><span th:text="${searchCategoryView.msg}">Error massage</span>
	</div><!--/*

	Menu

*/--><nav class="navbar navbar-default" th:fragment="managementMenu">
		<div class="container-fluid">

			<div class="navbar-header brand">
				<h2><a href="/">FashionProFinder</a></h2>
			</div>
			<form th:action="@{${searchFormPath}}" method="post">
				<div class="navbar-form navbar-right" role="search">
					<div class="form-group input-group">
						<input id="search" name="search" type="text" class="form-control" placeholder="Search..." required="required"/>
						<span class="input-group-btn">
							<button name="submitSearch" class="btn btn-default glyphicon glyphicon-search"></button>
						</span>
					</div>
				</div>
			</form>
		</div>
	</nav><!--/*

Letters

*/--><div class="container">
		<ul id="letters" class="pagination">
			<li id="addCategory"><a href="#" data-toggle="modal" data-target="#editor">New</a></li>
			<li class="firstLetter" th:each="l:${letters}"><a href="#" th:text="${l}">A</a></li>
		</ul><!--/*

Result

*/--><div th:if="${page!=null}" id="categories" class="panel panel-default">
			<div class="panel-heading">
				<ul class="list-inline">
					<li>
						<h2 class="panel-title">
							<span th:text="${title} + ' ( '"></span>
							<small th:text="${page.totalElements + ' results : ' + page.totalPages + ' pages'}"></small>
							<span> )</span>
						</h2>
					</li><!--/*

					Pagination

			*/--><li>
					<ul th:if="${page!=null and page.totalPages>1}"
							id="pages"
							class="pagination"
							style="margin: 0;"
							th:with="active=${T(java.lang.Math).round(T(java.lang.Math).floor(page.number/10))}">
						<li id='prev' th:class="${active==0 ? 'disabled' : null}">
							<a href="#" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
							</a>
						</li>
						<li th:each="n:${#numbers.sequence(1,page.totalPages)}"
								th:with="dozen=${T(java.lang.Math).floor(n/10)}"
								class="dozen1" th:class="${'dozen' + dozen}"
								th:classappend="${dozen!=active ? 'dNone' : n-1 == page.number ? 'active' : null}">
							<a href="#"
								th:href="${'/management/search/categories/'+for+'/'+title+'/'+(n-1)}"
								th:text="${n}">1</a>
						</li>
						<li id='nxt' th:if="${page.totalPages>10 and T(java.lang.Math).round(T(java.lang.Math).floor(page.totalPages/10))!=active}" >
							<a href="#" aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
							</a>
							<script type="text/javascript" th:inline="javascript">
							/*<![CDATA[*/
								$('#pages a').on('click', function(e){
									var val = $(this).text()-1;
									if(val != [[${active}]]){
										e.preventDefault();
									}
								});
							/*]]>*/
							</script>
						</li>
					</ul>
				</li>
			</ul>
			</div><!--/*

					Body

			*/--><div class="panel-body">
				<ul id="ul" class="list-inline">
					<li th:each="cat:${page.getContent()}" >
						<a href="#"
							class="btn"
							th:id="${cat.categoryId}"
							th:classappend="${cat.status==T(jk.web.entities.workers.search.SearchCatgoryEntity.CategoryStatus).SHOW ? 'btn-default' : 'btn btn-warning'}"
							th:text="${cat.categoryName}">
						</a>
					</li>
				</ul>
			</div>
			<script type="text/javascript">
			/*<![CDATA[*/
			$('#ul a').on('click', function(e){
				e.preventDefault();
				$('#id').val($(this).attr('id'));
				$('#name').val($(this).text());
				$('#show').prop('checked', $(this).hasClass('btn-default'));
				$('#editorLabel').text('Edit Category '+$(this).text());
				$('#editor').modal();
			})
			/*]]>*/
			</script>
		</div>
	</div><!--/*

Modal Editor

*/--><div class="modal fade" id="editor" tabindex="-1" role="dialog" aria-labelledby="editorLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 id="editorLabel" class="modal-title">Modal title</h4>
      </div>
      	<div class="modal-body">
      		<form id="editorForm" method="post" action="/management/search/categories/edit" class="form-inline" th:object="${searchCategoryView}">
      			<input type="hidden" th:field="*{id}"/>
      			<label>Category:</label>
      			<div class="input-group">
					<span class="input-group-addon">
						<input id="show" type="checkbox" checked="checked" th:field="*{show}"/>
      				</span>
      				<input type="text" class="form-control" th:field="*{name}" required="required"/>
        		</div>
        		<button type="submit" class="btn btn-primary" ><span class="glyphicon glyphicon-floppy-save"></span> Save</button>
      		</form>
      	</div>
    </div>
  </div>
</div><!--/*

Script

*/--><script type="text/javascript">
/*<![CDATA[*//*[-

Clear Modal Editor                    
                                
-]*/$('#addCategory').on("click", function(){
	$('#editorLabel').text('Add New Category');
	$('#id').val('');
	$('#name').val('');
	$('#show').prop('checked', true);
});/*[-

On Click one of the letter                    
                                
-]*/$('.firstLetter a').on('click', function(e){
	e.preventDefault();
	$('#categories').remove();
	var txt = this.text;
	$.ajax({
		url : '/management/search/categories/' + txt,
		type : 'POST',

		success : function(page) {
			var li;
			if(page!=null && page.totalPages>1){
				var ul 
				li = $('<li></li>').append(
					ul = $('<ul></ul>').attr('id', 'pages').addClass('pagination').css('margin', 0).append(
						$('<li></li>').attr('id', 'prev').addClass(Math.floor(page.number/10)==0 ? 'disabled' : undefined).append(
							$('<a></a>').attr('href','#').attr('aria-label','Previous').append(
								$('<span></span>').attr('aria-hidden','true').text('«')
							)
						)
					)
				);
				var active = Math.floor(page.number/10);
				for(var i=0; i<page.totalPages;){
					var dozen = Math.floor(i/10);
					$('<li></li>').addClass('dozen'+dozen).addClass(dozen!=active ? 'dNone' : i == page.number ? 'active' : undefined).append(
						$('<a></a>').attr('href','/management/search/categories/startWith/'+txt+'/' + i).text(++i)
					).appendTo(ul);
				}
				if(page.totalPages>10 && Math.floor(page.totalPages/10)!=active){
					$('<li></li>').attr('id','nxt').append(
						$('<a></a>').attr('href','#').attr('aria-label','Next').append(
							$('<span></span>').attr('aria-hidden','true').text('»')
						)
					).appendTo(ul);
				}
			}
			$('<div></div>').attr('id','categories').addClass('panel panel-default').insertAfter('#letters').append(
				$('<div></div>').addClass('panel-heading').append(
					$('<ul></ul>').addClass('list-inline').append(
						$('<li></li>').append(
							$('<h2></h2>').addClass('panel-title').append(
								$('<span></span>').text(txt+' ( ').append(
									$('<small></small>').text(page.totalElements + ' results : ' + page.totalPages + ' pages')
								)
							).append(
								$('<span></span>').text(' )')
							)
						)
					).append(li)
				)
			).append(
				$('<div></div>').addClass('panel-body').append(
					$('<ul></ul>').addClass('list-inline').attr('id', 'ul')
				 )
			);
			$.each(page.content, function(index, value){
				if(value.categoryId){
					$('<li></li>').appendTo('#ul').append(
							$('<a></a>').attr('id', value.categoryId).addClass(value.status=='SHOW' ? 'btn btn-default' : 'btn btn-warning').text(value.categoryName)
					);
				}
			});
			$('#ul a').on('click', function(e){
				e.preventDefault();
				$('#id').val($(this).attr('id'));
				$('#name').val($(this).text());
				$('#show').prop('checked', $(this).hasClass('btn-default'));
				$('#editorLabel').text('Edit Category '+$(this).text());
				$('#editor').modal();
			});
			$('#pages a').on('click', function(e){
				if($(this).parent().hasClass('active')){
					e.preventDefault();
				}
			});
		}
	});
});/*]]>*/
</script>
	<footer th:replace="search :: footer"></footer>
</body>
</html>