<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	lang="en">
<head>
<meta charset="UTF-8"/>
<title>Users</title>
<th:block th:replace="search :: headContent">
	<link rel="shortcut icon" type="image/vnd.microsoft.icon" href="../static/favicon.ico" th:href="@{/favicon.ico}" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../static/css/general_static.css" th:href="@{/css/general.css}" />
	<link rel="stylesheet" href="../static/css/normalize.css" th:href="@{/css/normalize.css}" />
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</th:block>
</head>
<body th:with="searchFormPath=${'/management/messages'}, managementMenu=${true}, menuSelection=${T(jk.web.controllers.user.FormsController.MenuSelection).CONTACT_US}">
	<nav th:replace="management/categories :: managementMenu"></nav>
	<div class="container">
	<div th:if="${error}" class="alert alert-danger" role="alert">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
		<span class="sr-only">Error:</span>
		<span th:text="${error}">Some Error</span>
	</div>
	<div class="panel panel-default">
		<table class="table table-striped table-hover table-condensed table-responsive">
			<thead>
				<tr>
					<th>ID</th>
					<th>IP Address</th>
					<th>Reference Number</th>
					<th>Name</th>
					<th>E-Mail</th>
					<th>Subject</th>
					<th>Message</th>
					<th>Status</th>
					<th>Date</th>
				</tr>
			</thead>
			<tr th:each="cont:${tocontact}">
					<td class="id" th:text="${cont.contactUsId}">ID</td>
					<td class="ipaddress" th:text="${cont.ipAddressEntity}">IP Address</td>
					<td class="reference" th:text="${cont.referenceNumberEntity}">Reference Number</td>
					<td class="clname" th:text="${cont.name}">Name</td>
					<td class="email" th:text="${cont.contactEmailEntity.email}">E-Mail</td>
					<td class="subject" th:text="${cont.subject}">Subject</td>
					<td class="message" th:text="${cont.message}">Message</td>
					<td class="status" th:text="${cont.contactStatus}">Status</td>
					<td class="status" th:text="${#calendars.format(cont.contactDate,'dd MMMM yyyy')}">Date</td>
			</tr>
		</table>
		<script type="text/javascript">
		/*<![CDATA[*/
		$('tbody tr').on('click',
			function(){
				$('#messagerLabel').text($(this).children('.email').text()+' : '+$(this).children('.clname').text());
				$('#id').val($(this).children('.id').text());
				$('#om').text($(this).children('.message').text());
				$('#messagerModal').modal();
		});
		/*]]>*/
		</script>
	</div>
	</div><!--/*

Modal Editor

*/--><div class="modal fade" id="messagerModal" tabindex="-1" role="dialog" aria-labelledby="editorLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 id="messagerLabel" class="modal-title">Modal title</h4>
      </div>
      	<div class="modal-body">
      		<form id="editorForm" method="post" action="/management/messages">
      			<input id="id" name="id" type="hidden"/>
      			<div class="form-group">
      				<label for="message">Type the answer.</label>
      				<textarea id="message" name="message" class="form-control" rows="7" required="required"></textarea>
      			</div>
      			<div class="form-group">
        			<button type="submit" name="send" class="btn btn-primary"><span class="glyphicon glyphicon-send"></span> Send</button>
        		</div>
        		<dl>
        			<dt>Old message</dt>
        			<dd id="om"></dd>
        		</dl>
     		</form>
      	</div>
    </div>
  </div>
 </div>
	<footer th:replace="search :: footer"></footer>
</body>
</html>