<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
  <head>
	<title>Twitter Connected</title>
	<link rel="stylesheet" type="text/css" href="../../static/css/jk.css" th:href="@{/css/jk.css}"></link>
  </head>
<body>
<div id="header" th:replace="fragments/header :: pageHeader">Header</div>
<div id="menuDiv"  th:replace="fragments/menu :: menu" >Menu</div>
	<p>You are now connected to your Twitter account.</p>
</body>
</html>